.grid {
  display: flex;

  &--wrap {
    flex-wrap: wrap;
  }

  &--top {
    align-items: flex-start;
  }

  &--center {
    align-items: center;
  }

  &--bottom {
    align-items: flex-end;
  }

  &__cell {
    flex: 1;

    &--top {
      align-self: flex-start;
    }

    &--center {
      align-self: center;
    }

    &--bottom {
      align-self: flex-end;
    }

    &--width-5 {
      flex: 0 0 5%;
    }

    &--width-10 {
      flex: 0 0 10%;
    }

    &--width-15 {
      flex: 0 0 15%;
    }

    &--width-20 {
      flex: 0 0 20%;
    }

    &--width-25 {
      flex: 0 0 25%;
    }

    &--width-30 {
      flex: 0 0 30%;
    }

    &--width-33 {
      flex: 0 0 33.3333%;
    }

    &--width-35 {
      flex: 0 0 35%;
    }

    &--width-40 {
      flex: 0 0 40%;
    }

    &--width-45 {
      flex: 0 0 45%;
    }

    &--width-50 {
      flex: 0 0 50%;
    }

    &--width-55 {
      flex: 0 0 55%;
    }

    &--width-60 {
      flex: 0 0 60%;
    }

    &--width-65 {
      flex: 0 0 65%;
    }

    &--width-66 {
      flex: 0 0 66.6666%;
    }

    &--width-70 {
      flex: 0 0 70%;
    }

    &--width-75 {
      flex: 0 0 75%;
    }

    &--width-80 {
      flex: 0 0 80%;
    }

    &--width-85 {
      flex: 0 0 85%;
    }

    &--width-90 {
      flex: 0 0 90%;
    }

    &--width-95 {
      flex: 0 0 95%;
    }

    &--width-100 {
      flex: 0 0 100%;
    }

    &--offset-5 {
      margin-left: 5%;
    }

    &--offset-10 {
      margin-left: 10%;
    }

    &--offset-15 {
      margin-left: 15%;
    }

    &--offset-20 {
      margin-left: 20%;
    }

    &--offset-25 {
      margin-left: 25%;
    }

    &--offset-30 {
      margin-left: 30%;
    }

    &--offset-33 {
      margin-left: 33.3333%;
    }

    &--offset-35 {
      margin-left: 35%;
    }

    &--offset-40 {
      margin-left: 40%;
    }

    &--offset-45 {
      margin-left: 45%;
    }

    &--offset-50 {
      margin-left: 50%;
    }

    &--offset-55 {
      margin-left: 55%;
    }

    &--offset-60 {
      margin-left: 60%;
    }

    &--offset-65 {
      margin-left: 65%;
    }

    &--offset-66 {
      margin-left: 66.6666%;
    }

    &--offset-70 {
      margin-left: 70%;
    }

    &--offset-75 {
      margin-left: 75%;
    }

    &--offset-80 {
      margin-left: 80%;
    }

    &--offset-85 {
      margin-left: 85%;
    }

    &--offset-90 {
      margin-left: 90%;
    }

    &--offset-95 {
      margin-left: 95%;
    }
  }

  @include screen--small {
    .grid--small-fit > .grid__cell:not([class*="grid__cell--width"]) {
      flex: 1;
    }

    .grid--small-full {
      flex-wrap: wrap;
    }

    .grid--small-full > .grid__cell {
      flex: 0 0 100%;
      margin-left: 0;
    }
  }

  @include screen--medium {
    .grid--medium-fit > .grid__cell:not([class*="grid__cell--width"]) {
      flex: 1;
    }

    .grid--medium-full {
      flex-wrap: wrap;
    }

    .grid--medium-full > .grid__cell {
      flex: 0 0 100%;
      margin-left: 0;
    }
  }

  @include screen--large-up {
    .grid--large-fit > .grid__cell:not([class*="grid__cell--width"]) {
      flex: 1;
    }

    .grid--large-full {
      flex-wrap: wrap;
    }

    .grid--large-full > .grid__cell {
      flex: 0 0 100%;
      margin-left: 0;
    }
  }
}