.field {
  @include window-box--small;
  display: block;
  width: 100%;
  font-size: $text-font-size * .9;
  background-color: $color-white;
  border: 1px solid $color-dark-grey;
  border-radius: 0;
  box-shadow: 0 3px 6px -3px $color-grey inset;
  cursor: pointer;
  resize: vertical;
  appearance: none;
}

.field + .field {
  margin-top: 1em;
}

.field--disabled, .field:disabled {
  @include text--quiet;
  cursor: not-allowed;
  background-color: $color-lighter-grey;
  border: 1px solid $color-dark-grey;
}

.field--error {
  border: 1px solid $color-red;
  border-left-width: 3px;
  color: $color-red;
}

.field--success {
  border: 1px solid $color-green;
  border-left-width: 3px;
}

select:not([multiple]).field {
  appearance: menulist;
  height: 2.5em;
}

.checkbox {
  @include letter-box--small;
  display: block;
  font-size: $text-font-size * .9;
  cursor: pointer;
  appearance: none;
}

.checkbox input[type=checkbox] {
  margin-right: 0.1em;
  font-size: $text-font-size * 2;
}

.checkbox--disabled, .checkbox input[type=checkbox]:disabled {
  @include text--quiet;
  cursor: not-allowed;
}

.checkbox--error {
  color: $color-red;
}

.checkbox--success {
  color: $color-green;
}