.tabs {
  display: block;
}

.tabs__header {
  display: flex;
  text-align: center;
  cursor: pointer;
}

.tabs__heading {
  @include window-box--medium;
  flex: 1;
  margin: 0;
  box-shadow: 0 -.2em 0 0 $color-lighter-grey inset;
}

.tabs__heading--active {
  box-shadow: 0 -.2em 0 0 $color-blue inset;
}

.tabs__heading--disabled {
  @include text--quiet;
  cursor: not-allowed;
}

.tab {
  display: none;
  @include window-box--medium;
}

.tab--active {
  display: block;
}
