.util--outline {
  border: 1px solid $color-pink;
  * {
    border: 1px solid $color-purple;
  }
}

.color--black {
  color: $color-black;
}

.color--white {
  color: $color-white;
}

.color--yellow {
  color: $color-yellow;
}

.color--orange {
  color: $color-orange;
}

.color--red {
  color: $color-red;
}

.color--pink {
  color: $color-pink;
}

.color--purple {
  color: $color-purple;
}

.color--blue {
  color: $color-blue;
}

.color--green {
  color: $color-green;
}

.color--brown {
  color: $color-brown;
}

.color--grey {
  color: $color-grey;
}
