// Screen Sizes
$screen-width-xsmall: 20em;
$screen-width-small: 30em;
$screen-width-medium: 48em;
$screen-width-large: 64em;
$screen-width-xlarge: 78em;
$screen-width-super: 116em;

// Colors
$color-black: #111111;
$color-white: #FFFFFF;
$color-red: #EF4F52;
$color-pink: #EC65C3;
$color-purple: #AB47BC;
$color-blue: #42A5F5;
$color-green: #66BB6A;
$color-yellow: #F6ED30;
$color-orange: #FF7043;
$color-brown: #8D6E63;
$color-grey: lighten($color-black, 75);

$color-tint: 15;
$color-tint-subtle: 5;

$color-dark-grey: darken($color-grey, $color-tint-subtle);
$color-dark-red: darken($color-red, $color-tint);
$color-dark-pink: darken($color-pink, $color-tint);
$color-dark-purple: darken($color-purple, $color-tint);
$color-dark-blue: darken($color-blue, $color-tint);
$color-dark-green: darken($color-green, $color-tint);
$color-dark-yellow: darken($color-yellow, $color-tint);
$color-dark-orange: darken($color-orange, $color-tint);
$color-dark-brown: darken($color-brown, $color-tint);

$color-darker-grey: darken($color-dark-grey, $color-tint-subtle);
$color-darker-red: darken($color-dark-red, $color-tint);
$color-darker-pink: darken($color-dark-pink, $color-tint);
$color-darker-purple: darken($color-dark-purple, $color-tint);
$color-darker-blue: darken($color-dark-blue, $color-tint);
$color-darker-green: darken($color-dark-green, $color-tint);
$color-darker-yellow: darken($color-dark-yellow, $color-tint);
$color-darker-orange: darken($color-dark-orange, $color-tint);
$color-darker-brown: darken($color-dark-brown, $color-tint);

$color-light-grey: lighten($color-grey, $color-tint-subtle);
$color-light-red: lighten($color-red, $color-tint);
$color-light-pink: lighten($color-pink, $color-tint);
$color-light-purple: lighten($color-purple, $color-tint);
$color-light-blue: lighten($color-blue, $color-tint);
$color-light-green: lighten($color-green, $color-tint);
$color-light-yellow: lighten($color-yellow, $color-tint);
$color-light-orange: lighten($color-orange, $color-tint);
$color-light-brown: lighten($color-brown, $color-tint);

$color-lighter-grey: lighten($color-light-grey, $color-tint-subtle);
$color-lighter-red: lighten($color-light-red, $color-tint);
$color-lighter-pink: lighten($color-light-pink, $color-tint);
$color-lighter-purple: lighten($color-light-purple, $color-tint);
$color-lighter-blue: lighten($color-light-blue, $color-tint);
$color-lighter-green: lighten($color-light-green, $color-tint);
$color-lighter-yellow: lighten($color-light-yellow, $color-tint);
$color-lighter-orange: lighten($color-light-orange, $color-tint);
$color-lighter-brown: lighten($color-light-brown, $color-tint);

// Borders
$border-radius: 4px;

// Typography
$text-font-family: -apple-system, ".SFNSText-Regular", "San Francisco", Roboto, "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
$text-font-family-serif: Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
$text-font-family-mono: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
$text-font-size: 1em;
$text-font-weight: normal;
$text-font-weight-heavy: bold;
$text-line-height: 1.2;

// Z Indexes
$z-over-content: 100;
$z-over-control: 200;
$z-over-page: 300;
$z-over-screen: 400;
$z-over-everything: 500;