@import "mixins/settings.animations";

.a-tabs {
  .c-tab-heading {
    transition: box-shadow;
    transition-duration: $animation-duration;
    transition-timing-function: $animation-easing;
  }
}

.a-tabs--slow {
  .c-tab-heading {
    transition-duration: $animation-duration-slow;
  }
}

.a-tabs--fast {
  .c-tab-heading {
    transition-duration: $animation-duration-fast;
  }
}
