@import "mixins/tools.animations.fade-in";

@include fade-in-keyframes;

.a-tree {
  @include fade-in;

  .c-tree {
    @include fade-in;
  }
}

.a-tree {
  .c-tree__item {
    &:before {
      transition: color, transform;
      transition-duration: $animation-duration;
      transition-timing-function: $animation-easing;
    }
  }
}

.a-tree--slow {
  @include fade-in--slow;

  .c-tree {
    @include fade-in--slow;
  }

  .c-tree__item {
    &:before {
      transition-duration: $animation-duration-slow;
    }
  }
}

.a-tree--fast {
  @include fade-in--fast;

  .c-tree {
    @include fade-in--fast;
  }

  .c-tree__item {
    &:before {
      transition-duration: $animation-duration-fast;
    }
  }
}
