@import "mixins/settings.animations";

.a-toggle {
  .c-toggle__track {
    transition: background-color;
    transition-duration: $animation-duration;
    transition-timing-function: $animation-easing;
  }

  .c-toggle__handle {
    transition: transform;
    transition-duration: $animation-duration;
    transition-timing-function: $animation-easing;
  }
}

.a-toggle--slow {
  .c-toggle__track {
    transition-duration: $animation-duration-slow;
  }

  .c-toggle__handle {
    transition-duration: $animation-duration-slow;
  }
}

.a-toggle--fast {
  .c-toggle__track {
    transition-duration: $animation-duration-fast;
  }

  .c-toggle__handle {
    transition-duration: $animation-duration-fast;
  }
}