@import "mixins/components.buttons";

.c-button {
  @include button;
}

.c-button--close {
  @include button--close;
}

.c-button--block {
  @include button--block;
}

.c-button--rounded {
  @include button--rounded;
}

.c-button--super {
  @include text-size--super;
}

.c-button--xlarge {
  @include text-size--xlarge
}

.c-button--large {
  @include text-size--large
}

.c-button--medium {
  @include text-size--medium
}

.c-button--small {
  @include text-size--small
}

.c-button--xsmall {
  @include text-size--xsmall
}

.c-button--primary { @include button--color($color-primary, $color-white); }
.c-button--secondary { @include button--color($color-secondary, $color-white); }
.c-button--success { @include button--color($color-success, $color-white); }
.c-button--error { @include button--color($color-error, $color-white); }

.c-button--ghost { @include button--ghost; }
.c-button--ghost-primary { @include button--ghost($color-primary); }
.c-button--ghost-secondary { @include button--ghost($color-secondary); }
.c-button--ghost-success { @include button--ghost($color-success); }
.c-button--ghost-error { @include button--ghost($color-error); }

.c-button-group {
  @include button-group;
}

.c-button-group {
  .c-button {
    @include button--grouped;
  }
}

.c-button-group--rounded {
  .c-button {
    @include button-group--rounded;
  }
}

.c-button__icon-left {
  @include button__icon-left;
}

.c-button__icon-right {
  @include button__icon-right;
}