@import "mixins/components.alerts";

.c-alert {
  position: relative;
  margin: $alert-margin;
  padding: $alert-padding;
  border-radius: $alert-border-radius;
  @include alert-color;
}

.c-alert--primary {
  @include alert-color($alert-primary-background-color);
}

.c-alert--secondary {
  @include alert-color($alert-secondary-background-color);
}

.c-alert--success {
  @include alert-color($alert-success-background-color);
}

.c-alert--error {
  @include alert-color($alert-error-background-color);
}
