@import "mixins/components.navs";

.c-nav {
  padding: $nav-padding;
  margin: $nav-margin;
  width: $nav-width;
  z-index: $nav-z-index;
  @include nav--color;
}

.c-nav__content {
  display: block;
  padding: $nav-item-padding;
  color: inherit;
}

.c-nav__item {
  display: block;
  padding: $nav-item-padding;
  color: inherit;
  letter-spacing: $nav-item-letter-spacing;
  cursor: pointer;
  text-decoration: none;
  @include nav__item--color;
}

.c-nav--inline {
  .c-nav__item,
  .c-nav__content {
    display: inline-block;
  }

  .c-nav__item--right,
  .c-nav__content--right {
    float: right;
  }
}

.c-nav--light {
  @include nav--color($nav-light-background-color, $nav-light-color);
}

.c-nav--top {
  position: absolute;
  top: 0;
  bottom: auto;
  left: 0;
  right: 0;
}

.c-nav--bottom {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
}

.c-nav--left {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: auto;
}

.c-nav--right {
  position: absolute;
  top: 0;
  bottom: 0;
  left: auto;
  right: 0;
}

.c-nav--fixed {
  position: fixed;
}

.c-nav__item--active {
  @include nav__item--active;
}

.c-nav__item--primary {
  @include nav__item--color($nav-item-primary-hover-background-color, $nav-item-primary-hover-color);

  &.c-nav__item--active {
    @include nav__item--active($nav-item-primary-active-background-color, $nav-item-primary-active-color);
  }
}

.c-nav__item--secondary {
  @include nav__item--color($color-secondary);

  &.c-nav__item--active {
    @include nav__item--active($nav-item-secondary-active-background-color, $nav-item-secondary-active-color);
  }
}

.c-nav__item--success {
  @include nav__item--color($color-success);

  &.c-nav__item--active {
    @include nav__item--active($nav-item-success-active-background-color, $nav-item-success-active-color);
  }
}

.c-nav__item--error {
  @include nav__item--color($color-error);

  &.c-nav__item--active {
    @include nav__item--active($nav-item-error-active-background-color, $nav-item-error-active-color);
  }
}
