@import "mixins/settings.global";

.c-avatar {
  display: inline-block;
  position: relative;
  width: $spacing-medium;
  height: $spacing-medium;
  margin: 0;
  border-radius: 50%;
  overflow: hidden;

  .c-avatar__img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.c-avatar--xsmall {
  width: 1em;
  height: 1em;
}

.c-avatar--small {
  width: 2em;
  height: 2em;
}

.c-avatar--medium {
  width: 3em;
  height: 3em;
}

.c-avatar--large {
  width: 4em;
  height: 4em;
}

.c-avatar--xlarge {
  width: 5em;
  height: 5em;
}

.c-avatar--super {
  width: 6em;
  height: 6em;
}
