@import "mixins/components.inputs";

.c-fieldset,
.c-fieldset.c-list {
  display: block;
  width: $fieldset-width;
  border: $fieldset-border;
  padding: $fieldset-padding;
  margin: $fieldset-margin;
}

.c-fieldset__legend {
  @include label;
  padding: $legend-padding;
}

// LABELS
.c-label {
  @include label;
}

// TEXT FIELDS
.c-field,
.c-label__field {
  padding: $field-padding;
  outline: 0;
  display: block;
  width: 100%;
  margin: $field-margin;
  font-size: $field-font-size;
  font-weight: $field-font-weight;
  font-family: inherit;
  background-color: $field-background-color;
  border: $field-border;
  border-radius: $field-border-radius;
  resize: vertical;
  appearance: none;

  &:focus {
    border-color: $field-focus-border-color;
    box-shadow: $field-focus-box-shadow;
  }
}

// SELECTS, CHECKBOXES AND RADIOS
select.c-field {
  cursor: pointer;
}

// SELECTS
select.c-field:not([multiple]) {
  background: url("data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==") no-repeat 99% 50%;
}

// CHECKBOXES and RADIOs
.c-field input {
  outline: 0;
  margin-right: $checkbox-margin;
  font-size: $checkbox-font-size;
}

.c-label__field {
  margin: $label-field-margin;
}

.c-field--error {
  border-color: $field-error-border-color;
  color: $field-error-color;
}

.c-field--success {
  border-color: $field-success-border-color;
  color: $field-success-color;
}

.c-field--choice {
  border: $checkbox-border;
  background-color: $checkbox-background-color;
  border-radius: 0;
}

.c-fieldset--disabled .c-field, .c-fieldset:disabled .c-field,
.c-field--disabled, .c-field:disabled {
  @include field--disabled;

  &.c-field--choice {
    background-color: $checkbox-background-color;
  }
}

.c-field input:disabled {
  @include disabled;
}

.c-field--super {
  font-size: $field-font-size-super;
}

.c-field--xlarge {
  font-size: $field-font-size-xlarge;
}

.c-field--large {
  font-size: $field-font-size-large;
}

.c-field--medium {
  font-size: $field-font-size-medium;
}

.c-field--small {
  font-size: $field-font-size-small;
}

.c-field--xsmall {
  font-size: $field-font-size-xsmall;
}