@import "mixins/settings.global";

.c-avatar {
  display: inline-block;
  position: relative;
  width: $avatar-width;
  height: $avatar-height;
  margin: $avatar-margin;
}

.c-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: $avatar-img-border-radius;
  overflow: hidden;
}

.c-avatar__img + .c-avatar__img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: $avatar-inner-img-size;
  height: $avatar-inner-img-size;
}

.c-avatar--xsmall {
  width: $avatar-xsmall-size;
  height: $avatar-xsmall-size;
}

.c-avatar--small {
  width: $avatar-small-size;
  height: $avatar-small-size;
}

.c-avatar--medium {
  width: $avatar-medium-size;
  height: $avatar-medium-size;
}

.c-avatar--large {
  width: $avatar-large-size;
  height: $avatar-large-size;
}

.c-avatar--xlarge {
  width: $avatar-xlarge-size;
  height: $avatar-xlarge-size;
}

.c-avatar--super {
  width: $avatar-super-size;
  height: $avatar-super-size;
}
