@import "mixins/components.inputs";

.c-fieldset,
.c-fieldset.c-list {
  display: block;
  width: $fieldset-width;
  margin: $fieldset-margin;
  padding: $fieldset-padding;
  border: $fieldset-border;
}

.c-fieldset__legend {
  @include label;
  padding: $legend-padding;
}

.c-form-element {
  position: relative;
  padding: $form-element-padding;

  .c-label:first-child {
    padding: $form-element-label-padding;
  }
}
