@import "mixins/settings.global";

.c-breadcrumbs {
  display: block;
  margin: $breadcrumb-margin;
  padding: $breadcrumb-padding;
  list-style: none;
}

.c-breadcrumbs__crumb {
  display: inline-block;
  padding: $breadcrumb-crumb-padding;
  width: auto;

  &:not(:last-child):after {
    content: $breadcrumb-crumb-separator-content;
    padding: $breadcrumb-crumb-separator-padding;
    color: $breadcrumb-crumb-separator-color;
  }
}