@import "mixins/settings.global";

.c-progress {
  display: block;
  background-color: $progress-background-color;
  color: $progress-color;
  text-align: center;
  border: $progress-border;
  overflow: hidden;
}

.c-progress--rounded {
  border-radius: $progress-border-radius;
}

.c-progress__bar {
  display: block;
  float: left;
  background-color: $progress-bar-background-color;
  border-radius: 0;
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.c-progress__bar:after {
  content: '-';
  color: transparent !important;
}

.c-progress__bar--primary {
  background-color: $color-primary;
}

.c-progress__bar--secondary {
  background-color: $color-secondary;
}

.c-progress__bar--success {
  background-color: $color-success;
}

.c-progress__bar--error {
  background-color: $color-error;
}
