@import "mixins/components.alerts";

.c-alerts {
  display: block;
  position: absolute;
  width: $alerts-width;
  max-height: 100%;
  overflow-y: auto;
  background-color: $alerts-background-color;
  z-index: $alerts-z-index;
}

.c-alerts--topleft {
  top: 0;
  left: 0;
}

.c-alerts--topright {
  top: 0;
  right: 0;
}

.c-alerts--bottomleft {
  bottom: 0;
  left: 0;
}

.c-alerts--bottomright {
  bottom: 0;
  right: 0;
}

.c-alert {
  position: relative;
  margin: $alert-margin;
  padding: $alert-padding;
  border-radius: $alert-border-radius;
  @include alert-color;
}

.c-alert--primary {
  @include alert-color($alert-primary-background-color);
}

.c-alert--secondary {
  @include alert-color($alert-secondary-background-color);
}

.c-alert--success {
  @include alert-color($alert-success-background-color);
}

.c-alert--error {
  @include alert-color($alert-error-background-color);
}
