@import "mixins/settings.global";

.c-bubble {
  display: inline-block;
  position: relative;
  padding: $bubble-padding;
  border-radius: $bubble-border-radius;
  background-color: $bubble-background-color;
  color: $bubble-color;
  text-align: $bubble-text-align;
  white-space: nowrap;

  &:after {
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border: $bubble-arrow-width solid transparent;
    content: "";
  }
}

.c-bubble--top:after {
  bottom: -($bubble-arrow-width * 2);
  left: 50%;
  transform: translateX(-50%);
  border-top-color: $bubble-background-color;
}

.c-bubble--right:after {
  top: 50%;
  left: -($bubble-arrow-width * 2);
  transform: translateY(-50%);
  border-right-color: $bubble-background-color;
}

.c-bubble--bottom:after {
  top: -($bubble-arrow-width * 2);
  left: 50%;
  transform: translateX(-50%);
  border-bottom-color: $bubble-background-color;
}

.c-bubble--left:after {
  top: 50%;
  right: -($bubble-arrow-width * 2);
  transform: translateY(-50%);
  border-left-color: $bubble-background-color;
}
