@import "mixins/components.buttons";

.c-button {
  @include button;
}

.c-button--close {
  @include button-color(transparent, inherit);
  outline: 0;
  position: absolute;
  right: $spacing-small;
  font-size: $button-close-font-size;
  font-weight: $button-close-font-weight;
  line-height: 1;
  padding: 0;
}

.c-button--block {
  display: inline-block;
  width: 100%;
}

.c-button--rounded {
  border-radius: $button-rounded-border-radius;
}

.c-button--primary { @include button-color($button-primary-background-color, $button-primary-color); }
.c-button--secondary { @include button-color($button-secondary-background-color, $button-secondary-color); }
.c-button--success { @include button-color($button-success-background-color, $button-success-color); }
.c-button--error { @include button-color($button-error-background-color, $button-error-color); }

.c-button--ghost { @include button-ghost; }
.c-button--ghost-primary { @include button-ghost($button-ghost-primary-color, $button-ghost-primary-hover-color); }
.c-button--ghost-secondary { @include button-ghost($button-ghost-secondary-color, $button-ghost-secondary-hover-color); }
.c-button--ghost-success { @include button-ghost($button-ghost-success-color, $button-ghost-success-hover-color); }
.c-button--ghost-error { @include button-ghost($button-ghost-error-color, $button-ghost-error-hover-color); }

.c-button__icon-left {
  padding-right: $button-icon-left-padding;
}

.c-button__icon-right {
  padding-left: $button-icon-right-padding;
}