@import "mixins/settings.global";
@import "mixins/components.typography";

.c-address {
  @include paragraph;
  font-style: $address-font-style;
}

.c-address__heading {
  display: block;
  font-weight: $address-heading-font-weight;
}