@import "mixins/settings.global";

.c-heading,
.c-heading__sub {
  font-weight: $heading-font-weight;
}

.c-heading__sub {
  opacity: $heading-subheading-opacity;
  padding: $heading-subheading-padding;
  font-size: $heading-subheading-font-size;
}