@import "mixins/components.progress";

.c-progress {
  display: block;
  width: 100%;
  height: $progress-height;
}

.c-progress[value] {
  background-color: $progress-background-color;
  border: $progress-border;
  appearance: none;
  border-radius: $progress-border-radius;
}

.c-progress[value]::-ms-fill {
  background-color: $progress-color;
  border: 0;
}

.c-progress[value]::-moz-progress-bar {
  background-color: $progress-color;
  border-bottom-left-radius: $progress-border-radius;
  border-top-left-radius: $progress-border-radius;
}

.c-progress[value]::-webkit-progress-value {
  background-color: $progress-color;
  border-bottom-left-radius: $progress-border-radius;
  border-top-left-radius: $progress-border-radius;
}

.c-progress[value="100"]::-moz-progress-bar {
  border-bottom-right-radius: $progress-border-radius;
  border-top-right-radius: $progress-border-radius;
}

.c-progress[value="100"]::-webkit-progress-value {
  border-bottom-right-radius: $progress-border-radius;
  border-top-right-radius: $progress-border-radius;
}

.c-progress[value]::-webkit-progress-bar {
  background-color: $progress-background-color;
  border-radius: $progress-border-radius;
}

base::-moz-progress-bar,
.c-progress[value] {
  background-color: $progress-background-color;
  border-radius: $progress-border-radius;
}

.c-progress--primary { @include progress-color($color-primary); }
.c-progress--secondary { @include progress-color($color-secondary); }
.c-progress--success { @include progress-color($color-success); }
.c-progress--error { @include progress-color($color-error); }
