@import "mixins/settings.global";
@import "mixins/objects.grid";
@import "mixins/utilities.alignment";


.c-modal {
  @include center-block__content;
  display: block;
  width: $modal-width;
  background-color: $modal-background-color;
  border: $modal-border;
  border-radius: $modal-border-radius;
  z-index: $modal-z-index;
  overflow: hidden;
}

.c-modal__header {
  position: relative;
  text-align: $modal-header-text-align;
}

.c-modal__header .c-button--close {
  top: .7em;
}

.c-modal__body {
  padding: $modal-body-padding;
}

.c-modal__footer {
  padding: $modal-footer-padding;
}

.c-modal__footer--block {
  @include grid;
  @include grid__cell--no-gutter;
  padding: $modal-footer-block-padding;

  .c-button {
    @include grid__cell;
    border-radius: $modal-footer-block-button-border-radius;
  }
}

.c-modal--ghost {
  background-color: $modal-ghost-background-color;
  color: $modal-ghost-color;

  .c-modal__heading {
    color: $modal-ghost-heading-color;
  }
}