@import "mixins/components.badges";

.c-badge {
  @include badge($badge-background-color, $badge-color, $badge-background-color);
  display: inline-block;
  margin: $badge-margin;
  padding: $badge-padding;
  border-radius: $badge-border-radius;
  font-size: $badge-font-size;
  font-weight: $badge-font-weight;

  &.c-badge--ghost {
    @include badge($badge-frame-background-color, $badge-frame-color)
  }

  &.c-badge--well {
    @include badge($badge-well-background-color, $badge-well-color)
  }
}

.c-badge--rounded {
  border-radius: $badge-border-radius-rounded;
}

.c-badge--info {
  @include badge($badge-info-background-color, $badge-info-color, $badge-info-background-color);

  &.c-badge--ghost {
    @include badge($badge-frame-info-background-color, $badge-frame-info-color)
  }

  &.c-badge--well {
    @include badge($badge-well-info-background-color, $badge-well-info-color)
  }
}

.c-badge--warning {
  @include badge($badge-warning-background-color, $badge-warning-color, $badge-warning-background-color);

  &.c-badge--ghost {
    @include badge($badge-frame-warning-background-color, $badge-frame-warning-color)
  }

  &.c-badge--well {
    @include badge($badge-well-warning-background-color, $badge-well-warning-color)
  }
}

.c-badge--success {
  @include badge($badge-success-background-color, $badge-success-color, $badge-success-background-color);

  &.c-badge--ghost {
    @include badge($badge-frame-success-background-color, $badge-frame-success-color)
  }

  &.c-badge--well {
    @include badge($badge-well-success-background-color, $badge-well-success-color)
  }
}

.c-badge--error {
  @include badge($badge-error-background-color, $badge-error-color, $badge-error-background-color);

  &.c-badge--ghost {
    @include badge($badge-frame-error-background-color, $badge-frame-error-color)
  }

  &.c-badge--well {
    @include badge($badge-well-error-background-color, $badge-well-error-color)
  }
}
