@import "mixins/settings.global";
@import "mixins/components.lists";

.c-card {
  @include list--unstyled;
  display: block;
  background-color: $card-background-color;
  box-shadow: $card-box-shadow;
  border-radius: $card-border-radius;
  overflow: hidden;
}

.c-card + .c-card {
  margin: $card-margin;
}

.c-card__item {
  padding: $card-item-padding;
  &:not(:last-child) {
    border-bottom: $card-item-border-bottom;
  }
}

.c-card--menu {
  display: block;
  width: $card-width;
  margin: $card-margin;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  max-height: $card-max-height;
  z-index: $card-z-index;
}

.c-card--grouped {
  .c-card__item {
    &:not(:last-child) {
      border-bottom: 0;
    }
  }
}

.c-card__divider {
  height: $card-item-border-width;
  overflow: hidden;
  background-color: $card-item-divider-background-color;
}

.c-card__item--divider {
  background-color: $card-item-divider-background-color;
  color: $card-item-divider-color;
  font-weight: $card-item-divider-font-weight;
}

.c-card__item--primary {
  background-color: $card-item-primary-background-color;
  color: $card-item-primary-color;
}

.c-card__item--secondary {
  background-color: $card-item-secondary-background-color;
  color: $card-item-secondary-color;
}

.c-card__item--success {
  background-color: $card-item-success-background-color;
  color: $card-item-success-color;
}

.c-card__item--error {
  background-color: $card-item-error-background-color;
  color: $card-item-error-color;
}

.c-card__item--disabled {
  opacity: $card-item-disabled-opacity;
  cursor: not-allowed;
}

.c-card--menu {
  .c-card__item:not(.c-card__item--disabled):not(.c-card__item--divider):hover {
    cursor: pointer;
    background-color: $card-item-hover-background-color;

    &.c-card__item--primary {
      background-color: $card-item-primary-hover-background-color;
    }

    &.c-card__item--secondary {
      background-color: $card-item-secondary-hover-background-color;
    }

    &.c-card__item--success {
      background-color: $card-item-success-hover-background-color;
    }

    &.c-card__item--error {
      background-color: $card-item-error-hover-background-color;
    }
  }

  .c-card__item--active {
    background-color: $card-item-active-background-color;
    font-weight: $card-item-active-font-weight;

    &.c-card__item--primary {
      background-color: $card-item-primary-active-background-color;
    }

    &.c-card__item--secondary {
      background-color: $card-item-secondary-active-background-color;
    }

    &.c-card__item--success {
      background-color: $card-item-success-active-background-color;
    }

    &.c-card__item--error {
      background-color: $card-item-error-active-background-color;
    }
  }
}