.o-media {
  &:after {
    display: block;
    clear: both;
    content: "";
  }

  .c-heading {
    padding: 0;
  }
}

.o-media__image,
.o-media__body {
  float: left;

  &:first-child {
    margin-right: 1em;
  }
}

.o-media__image:not(:first-child) {
  float: right;
}
