@import "mixins/settings.global";

.o-panel-container {
  position: relative;
}

.o-panel {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.o-panel--nav-top {
  top: $panel-nav-top;
}

.o-panel--nav-bottom {
  bottom: $panel-nav-bottom;
}
