@import "vars";
@import "boxing";
@import "buttons";

@mixin alerts {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
}

@mixin alerts__alert {
  position: relative;
  margin-bottom: $spacing-medium;
  @include window-box--medium;
  color: $color-black;
  background-color: $color-lighter-grey;
  border-radius: $border-radius;
}

@mixin alerts__alert--color($bg-color: $color-black, $fg-color: $color-white) {
  color: $fg-color;
  background-color: $bg-color;
}