@import "vars";
@import "boxing";
@import "buttons";

@mixin alerts {
  font-size: $text-font-size * .9;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
}

@mixin alerts__alert {
  display: none;
  position: relative;
  margin-bottom: $spacing-medium;
  @include window-box--medium;
  color: $color-black;
  background-color: $color-lighter-grey;
  border-radius: $border-radius;
}

@mixin alerts__alert--visible {
  display: block;
}

@mixin alert__close {
  @include button--color(transparent, $color-black);
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate3d(0, -50%, 0);
  font-size: $text-font-size * 1.4;
}

@mixin alert__close--static {
  display: none;
}

@mixin alerts__alert--color($bg-color: $color-lighter-grey, $fg-color: $color-black) {
  color: $fg-color;
  background-color: $bg-color;
}