@import "settings.animations";

@mixin toggle__track {
  transition: background-color;
  transition-duration: $animation-duration;
  transition-timing-function: $animation-easing;
}

@mixin toggle__handle {
  transition: transform;
  transition-duration: $animation-duration;
  transition-timing-function: $animation-easing;
}

@mixin toggle__track--slow {
  transition-duration: $animation-duration-slow;
}

@mixin toggle__handle--slow {
  transition-duration: $animation-duration-slow;
}

@mixin toggle__track--fast {
  transition-duration: $animation-duration-fast;
}

@mixin toggle__handle--fast {
  transition-duration: $animation-duration-fast;
}
