@import "settings.animations";

@mixin bubble-keyframes {
  @keyframes bubble {
    from {
      transform: scale(0);
      opacity: 0;
    }

    50% {
      transform: scale(1.02);
    }

    80% {
      transform: scale(0.95);
    }

    to {
      transform: scale(1);
      opacity: 1;
    }
  }
}

@mixin bubble {
  animation-name: bubble;
  animation-duration: $animation-duration;
  animation-fill-mode: both;
  animation-timing-function: $animation-easing;
}

@mixin bubble--top {
  transform-origin: center bottom;
}

@mixin bubble--bottom {
  transform-origin: center top;
}

@mixin bubble--left {
  transform-origin: right center;
}

@mixin bubble--right {
  transform-origin: left center;
}

@mixin bubble--slow {
  animation-duration: $animation-duration-slow;
}

@mixin bubble--fast {
  animation-duration: $animation-duration-fast;
}
