@import "settings.animations";

@mixin drawer {
  transition: transform;
  transition-duration: $animation-duration;
  transition-timing-function: $animation-easing;
}

@mixin drawer--slow {
  transition-duration: $animation-duration-slow;
}

@mixin drawer--fast {
  transition-duration: $animation-duration-fast;
}