@import "settings.animations";

@mixin tab-heading {
  transition: box-shadow;
  transition-duration: $animation-duration;
  transition-timing-function: $animation-easing;
}

@mixin tab-heading--slow {
  transition-duration: $animation-duration-slow;
}

@mixin tab-heading--fast {
  transition-duration: $animation-duration-fast;
}
