@import "settings.animations";

@mixin alert-keyframes {
  @keyframes alert {
    from {
      transform: scale(0);
      opacity: 0;
    }

    50% {
      transform: scale(1.02);
    }

    80% {
      transform: scale(0.95);
    }

    to {
      transform: scale(1);
      opacity: 1;
    }
  }
}

@mixin alert {
  animation-name: alert;
  animation-duration: $animation-duration;
  animation-fill-mode: both;
  animation-timing-function: $animation-easing;
}

@mixin alert--top {
  transform-origin: center top;
}

@mixin alert--bottom {
  transform-origin: center bottom;
}

@mixin alert--left {
  transform-origin: left center;
}

@mixin alert--right {
  transform-origin: right center;
}

@mixin alert--slow {
  animation-duration: $animation-duration-slow;
}

@mixin alert--fast {
  animation-duration: $animation-duration-fast;
}
