@import "settings.animations";

@mixin nav__item {
  transition: background-color, color;
  transition-duration: $animation-duration;
  transition-timing-function: $animation-easing;
}

@mixin nav__item--slow {
  transition-duration: $animation-duration-slow;
}

@mixin nav__item--fast {
  transition-duration: $animation-duration-fast;
}
