@import "settings.animations";

@mixin overlay-keyframes {
  @keyframes overlay {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}

@mixin overlay {
  animation-name: overlay;
  animation-duration: $animation-duration;
  animation-fill-mode: both;
  animation-timing-function: $animation-easing;
}

@mixin overlay--slow {
  animation-duration: $animation-duration-slow;
}

@mixin overlay--fast {
  animation-duration: $animation-duration-fast;
}