@import "vars";
@import "boxing";
@import "typography";

@mixin button {
  @include window-box--small;
  display: inline;
  max-width: 100%;
  border: 0;
  border-radius: $border-radius;
  background-color: $color-light-grey;
  color: $color-black;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  appearance: none;

  &:not(:disabled) {
    &:hover, &:focus {
      background-color: $color-lighter-grey;
    }

    &:active, .button--active {
      background-color: $color-grey;
    }
  }

  &:disabled {
    @include text--quiet;
    background-color: $color-lighter-grey;
    font-style: italic;
    cursor: not-allowed;
  }
}

@mixin button--color($bgcolor: $color-light-grey, $fgcolor: $color-black) {
  background-color: $bgcolor;
  color: $fgcolor;

  &:not(:disabled) {
    &:hover, &:focus {
      background-color: lighten($bgcolor, $color-tint);
    }

    &:active, .button--active {
      background-color: darken($bgcolor, $color-tint);
    }
  }
}

@mixin button--block {
  display: inline-block;
  width: 100%;
}

@mixin button--super {
  font-size: $text-font-size * 3;
}

@mixin button--xlarge {
  font-size: $text-font-size * 2;
}

@mixin button--large {
  font-size: $text-font-size * 1.5;
}

@mixin button--medium {
  font-size: $text-font-size * 1;
}

@mixin button--small {
  font-size: $text-font-size * .8;
}

@mixin button--xsmall {
  font-size: $text-font-size * .65;
}

@mixin button-group {
  display: inline-flex;
}

@mixin button--grouped {
  border-radius: 0;

  &:first-child {
    border-radius: $border-radius 0 0 $border-radius;
  }

  &:last-child {
    border-radius: 0 $border-radius $border-radius 0;
  }
}