@import "vars";
@import "boxing";
@import "typography";

@mixin button {
  @include letter-box--small;
  @include pillar-box--large;
  outline: 0;
  display: inline;
  margin: 0;
  max-width: 100%;
  border: 0;
  border-radius: $border-radius;
  background-color: $color-light-grey;
  color: $color-black;
  @include text-size--medium;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  appearance: none;

  &:not(:disabled) {
    &:hover, &:focus {
      background-color: $color-lighter-grey;
    }

    &:active, .button--active {
      background-color: $color-grey;
    }
  }

  &:disabled {
    @include text--quiet;
    background-color: $color-lighter-grey;
    font-style: italic;
    cursor: not-allowed;
  }
}

@mixin button--color($bg-color: $color-primary, $fg-color: $color-white) {
  background-color: $bg-color;
  color: $fg-color;

  &:not(:disabled) {
    &:hover, &:focus {
      background-color: lighten($bg-color, $color-tint-subtle);
    }

    &:active, .button--active {
      background-color: darken($bg-color, $color-tint-subtle);
    }
  }
}

@mixin button--rounded {
  border-radius: 30em;
}

@mixin button--ghost($color: $color-primary, $hover-text-color: $color-white) {
  background-color: transparent;
  border: 2px solid $color;
  color: $color;

  &:not(:disabled) {
    &:hover, &:focus {
      background-color: $color;
      color: $hover-text-color;
    }

    &:active, .button--active {
      background-color: darken($color, $color-tint);
      border: 2px solid darken($color, $color-tint);
      color: $hover-text-color;
    }
  }
}

@mixin button--close {
  @include button--color(transparent, inherit);
  outline: 0;
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 0;
  font-size: 1.5em;
  line-height: 1;
}

@mixin button--block {
  display: inline-block;
  width: 100%;
}

@mixin button-group {
  display: inline-flex;
}

@mixin button--grouped {
  border-radius: 0;

  &:first-child {
    border-radius: $border-radius 0 0 $border-radius;
  }

  &:last-child {
    border-radius: 0 $border-radius $border-radius 0;
  }
}

@mixin button__icon-left {
  padding-right: $spacing-small;
}

@mixin button__icon-right {
  padding-left: $spacing-small;
}