@import "vars";
@import "typography";
@import "boxing";
@import "grid";
@import "buttons";

@mixin calendar {
  @include grid;
  @include grid--wrap;
  @include grid--center;
  @include grid__cell--no-gutter;
  @include window-box--xsmall;
  text-align: center;
  background-color: $color-white;
  border: 1px solid $color-grey;
  border-radius: $border-radius;
  width: 300px;
  z-index: $z-over-control;
}

@mixin calendar__control($bg-color: $color-white, $fg-color: $color-black) {
  @include button--color($bg-color, $fg-color);
  @include window-box--medium;
  flex: 0 0 14.28%;
  outline: 0;
  display: inline;
  border: 1px solid transparent;
  border-radius: $border-radius;
  cursor: pointer;
  user-select: none;
}

@mixin calendar__header {
  @include grid__cell;
  @include grid__cell--width-70;
  @include letter-box--small;
}

@mixin calendar__day {
  @include grid__cell;
  @include letter-box--small;
  flex: 0 0 14.28%;
  font-weight: $text-font-weight-heavy;
}

@mixin calendar__date {
  @include calendar__control($color-white, $color-darker-grey);
}

@mixin calendar__date--hover {
  border: 1px solid $color-primary;
}

@mixin calendar__date--in-month {
  color: $color-black;
}

@mixin calendar__date--today {
  border-color: $color-light-grey;
}

@mixin calendar__date--selected {
  @include button--color($color-primary, $color-white);
  border-color: $color-primary;
}

@mixin calendar--high {
  box-shadow: 0 5px 5px -2px $color-light-grey;
}

@mixin calendar--higher {
  box-shadow: 0 10px 12px 0 $color-light-grey;
}

@mixin calendar--highest {
  box-shadow: 0 13px 16px 3px $color-light-grey;
}