@import "vars";
@import "boxing";
@import "lists";

@mixin card {
  @include list--unstyled;
  display: block;
  border: 1px solid $border-color;
  border-radius: $border-radius;
}

@mixin card-spacing {
  margin-top: $spacing-medium;
}

@mixin card-first-last-paragraph {
  padding: 0;
}

@mixin card__content {
  @include window-box--small;
}

@mixin card__content--divider {
  background-color: $color-dark-grey;
  color: $color-white;
  font-weight: $text-font-weight-heavy;
}

@mixin card__item {
  @include window-box--small;
  &:not(:last-child) {
    border-bottom: 1px solid $color-light-grey;
  }
}

@mixin card__item--divider {
  @include card__content--divider;
}

@mixin card__item--hover {
  cursor: pointer;
}

@mixin card__item--active {
  background-color: $color-light-grey;
}

@mixin card--high {
  box-shadow: $box-shadow-high;
}

@mixin card--higher {
  box-shadow: $box-shadow-higher;
}

@mixin card--highest {
  box-shadow: $box-shadow-highest;
}