@import "settings.global";
@import "components.typography";
@import "components.lists";
@import "components.cards";

@mixin menu {
  @include list--unstyled;
  @include card;
  display: block;
  width: 100%;
  margin-top: $spacing-xsmall;
  background-color: $color-white;
  border-radius: $border-radius;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  max-height: 280px;
  z-index: $z-over-content;
}

@mixin menu__item {
  @include card__item;
  cursor: pointer;
}

@mixin menu__item--divider {
  @include text--quiet;
  font-weight: $text-font-weight-heavy;
}

@mixin menu__item--hover {
  @include card__item--hover;
  background-color: $color-lighter-grey;
}

@mixin menu__item--active {
  background-color: $color-lighter-grey;
  font-weight: $text-font-weight-heavy;
}

@mixin menu__item--disabled {
  @include text--quiet;
  cursor: not-allowed;
}

@mixin menu__item--borderless {
  @include card__item--borderless;
}

@mixin menu__group-divider {
  @include card__group-divider;
}

@mixin menu--high {
 @include card--high;
}

@mixin menu--higher {
  @include card--higher;
}

@mixin menu--highest {
  @include card--highest;
}