@import "settings.global";

@mixin tags {
  position: relative;
  width: $tags-width;
  text-align: $tags-text-align;
}

@mixin tags-menu {
  position: absolute;
  width: 100%;
}

@mixin tags__container {
  display: inline-block;
  max-width: $tags-container-width;
  padding-right: $spacing-xsmall;
}

@mixin tag {
  display: inline-block;
  padding: $tag-padding;
  position: relative;
  margin: $tag-margin;
  text-transform: none;
}

@mixin tag__close {
  position: absolute;
  right: 5px;
  top: 7px;
  color: $tag-close-color;
}

@mixin tags__field-container {
  position: absolute;
  width: $tags-field-container-width;
  display: inline-block;
  margin: $tags-field-container-margin;
  cursor: pointer;
}