@import "settings.alerts";

@mixin alerts__alert--color($background-color: $alert-background-color, $color: $alert-color) {
  color: $color;
  background-color: $background-color;
}

@mixin alerts__alert {
  position: relative;
  margin: $alert-margin;
  padding: $alert-padding;
  border-radius: $alert-border-radius;
  @include alerts__alert--color;
}

@mixin alerts__alert--primary {
  @include alerts__alert--color($alert-background-color-primary);
}

@mixin alerts__alert--secondary {
  @include alerts__alert--color($alert-background-color-secondary);
}

@mixin alerts__alert--error {
  @include alerts__alert--color($alert-background-color-error);
}

@mixin alerts__alert--success {
  @include alerts__alert--color($alert-background-color-success);
}
