@import "settings.global";
@import "settings.animations";
@import "utilities.boxing";
@import "components.typography";

@mixin label {
  display: block;
  width: 100%;
}

@mixin label--for {
  @include label;
  @include letter-box--small;
  cursor: pointer;
}

@mixin floating-label {
  @include label;
  position: absolute;
  visibility: hidden;
  pointer-events: none;
  font-size: 1em;

  &:before {
    position: relative;
    visibility: visible;
    content: attr(data-content);
    top: 1.85em;
    left: 0.5em;
    border: 1px solid transparent;
    @include text--quiet;
    transition: all $animation-duration-fast $animation-easing;
  }
}

@mixin floating-label--floating {
  &:before {
    font-size: 0.9em;
    top: -0.2em;
    left: 0;
    color: inherit;
  }
}

@mixin field {
  @include window-box--small;
  outline: 0;
  display: block;
  width: 100%;
  margin: 0;
  @include text-size--medium;
  font-weight: $text-font-weight;
  font-family: inherit;
  background-color: $color-white;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  resize: vertical;
  appearance: none;

  &:focus {
    border: 1px solid $color-blue;
    box-shadow: inset 0 0 0 2px $color-light-blue;
  }
}

@mixin field-spacing {
  margin-top: $spacing-large;
}

@mixin label__field {
  @include field;
  margin-top: $spacing-small;
}

@mixin disabled {
  @include text--quiet;
  cursor: not-allowed;
}

@mixin field--disabled {
  @include disabled;
  background-color: $color-lighter-grey;
  border: 1px solid $border-color;
}

@mixin field--error {
  border: 1px solid $color-error;
  color: $color-error;
}

@mixin field--success {
  border: 1px solid $color-success;
}

@mixin choice {
  @include letter-box--small;
  outline: 0;
  display: block;
  margin: 0;
  @include text-size--medium;
  cursor: pointer;
  appearance: none;

  &:focus {
    border: 1px solid $color-blue;
    box-shadow: inset 0 0 0 2px $color-light-blue;
  }
}

@mixin choice--disabled {
  @include disabled;
}

@mixin choice--error {
  color: $color-error;
}

@mixin choice--success {
  color: $color-success;
}

@mixin select {
  @include choice;
  outline: 0;
  appearance: menulist;
  height: 2.5em;

  &:focus {
    border: 1px solid $color-blue;
    box-shadow: inset 0 0 0 2px $color-light-blue;
  }
}

@mixin select--disabled {
  @include field--disabled;
}

@mixin select--error {
  @include field--error;
}

@mixin select--success {
  @include field--success;
}

@mixin checkbox {
  outline: 0;
  margin-right: $spacing-tiny;
  font-size: $text-font-size * 2;

  &:focus {
    border: 1px solid $color-blue;
    box-shadow: inset 0 0 0 2px $color-light-blue;
  }
}

@mixin input-group {
  display: flex;
}

@mixin input-group__field {
  flex: 1;
  height: 100%;
}

@mixin input-group__field--center {
  border-radius: 0;
  border-right: 0;
  border-left: 0;
}

@mixin input-group__field--left {
  border-radius: $border-radius 0 0 $border-radius;
  border-right: 0;
}

@mixin input-group__field--right {
  border-radius: 0 $border-radius $border-radius 0;
  border-left: 0;
}

@mixin input-group__button--left {
  border-radius: $border-radius 0 0 $border-radius;
  border-width: 1px;
}

@mixin input-group__button--right {
  border-radius: 0 $border-radius $border-radius 0;
  border-width: 1px;
}

@mixin input-group-rounded--left {
  border-radius: $border-radius-rounded 0 0 $border-radius-rounded;
}

@mixin input-group-rounded--right {
  border-radius: 0 $border-radius-rounded $border-radius-rounded 0;
}

@mixin field-group {
  display: block;
}

@mixin field-group__field--center {
  border-radius: 0;
}

@mixin field-group__field--top {
  border-radius: $border-radius $border-radius 0 0;
}

@mixin field-group__field--bottom {
  border-radius: 0 0 $border-radius $border-radius;
}

@mixin field-group__field {
  border-top: 0;
}

@mixin field-group-inline {
  display: flex;
}

@mixin field-group-inline__field--center {
  border-radius: 0;
}

@mixin field-group-inline__field--left {
  border-radius: $border-radius 0 0 $border-radius;
}

@mixin field-group-inline__field--right {
  border-radius: 0 $border-radius $border-radius 0;
}

@mixin field-group-inline__field {
  border-left: 0;
}

@mixin fieldset {
  display: block;
  width: 100%;
  border: 0;
  padding: 0;
  margin: $spacing-small 0;
}

@mixin fieldset__legend {
  @include label;
  @include letter-box--xsmall;
}

@mixin fieldset--disabled {
  @include field--disabled;
}