@import "settings.global";
@import "objects.grid";
@import "objects.boxing";
@import "objects.alignment";

@mixin modal {
  @include center-block__content;
  display: block;
  width: 80%;
  background-color: $color-white;
  border-radius: $border-radius;
  z-index: $z-over-everything;
  overflow: hidden;
}

@mixin modal__header {
  position: relative;
  text-align: center;
}

@mixin modal__close {
  top: .7em;
}

@mixin modal__body {
  @include window-box--medium;
}

@mixin modal__footer {
  @include window-box--medium;
}

@mixin modal__footer--block {
  @include grid;
  @include grid__cell--no-gutter;
  padding: $spacing-large 0 0 0;
}

@mixin modal__footer-button--block {
  @include grid__cell;
  border-radius: 0;
}

@mixin modal--ghost {
  background-color: transparent;
  color: $color-white;
}

@mixin modal__heading--ghost {
  color: $color-white;
}

@mixin modal--high {
  box-shadow: $box-shadow-high-solid;
}

@mixin modal--higher {
  box-shadow: $box-shadow-higher-solid;
}

@mixin modal--highest {
  box-shadow: $box-shadow-highest-solid;
}