@import "settings.badges";

@mixin badge--color($background-color: $badge-background-color, $color: $badge-color) {
  background-color: $background-color;
  color: $color;
}

@mixin badge {
  display: inline-block;
  padding: $badge-padding;
  margin: $badge-margin;
  @include badge--color;
  font-size: $badge-font-size;
  font-weight: $badge-font-weight;
  border-radius: $badge-border-radius;
}

@mixin badge--rounded {
  border-radius: $badge-border-radius-rounded;
}