@import "settings.global";

$highlight-color-fg: $color-black !default;
$highlight-color-bg: $color-yellow !default;

$code-color-fg: $color-black !default;
$code-color-bg: $color-lighter-grey !default;

$keyboard-color-fg: $color-white !default;
$keyboard-color-bg: $color-primary !default;

$keyboard-border-width: 2px !default;
$keyboard-border-style: $border-style !default;
$keyboard-border-color: $color-darker-primary !default;
$keyboard-border-radius: $border-radius !default;

@mixin text {
  font-family: $text-font-family;
  font-weight: $text-font-weight;
  color: $color-black;
  line-height: $text-line-height;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

@mixin text--mono {
  font-family: $text-font-family-mono;
}

@mixin text--highlight($color-fg: $highlight-color-fg, $color-bg: $highlight-color-bg) {
  background-color: $color-bg;
  color: $color-fg;
  padding: $spacing-xsmall $spacing-xsmall $spacing-tiny;
  margin: 0 -$spacing-tiny;
}

@mixin text--quiet {
  color: $color-default;
}

@mixin text--loud {
  font-weight: $text-font-weight-heavy;
}

@mixin text--help {
  cursor: help;
  border-bottom: $border-width dashed $color-dark-grey;
}

@mixin text-size--super {
  font-size: $text-font-size * 3;
}

@mixin text-size--xlarge {
  font-size: $text-font-size * 2;
}

@mixin text-size--large {
  font-size: $text-font-size * 1.5;
}

@mixin text-size--medium {
  font-size: $text-font-size;
}

@mixin text-size--small {
  font-size: $text-font-size * .9;
}

@mixin text-size--xsmall {
  font-size: $text-font-size * .7;
}

@mixin paragraph {
  display: block;
  padding: $spacing-small 0;
  margin: 0;
  font-style: normal;
}

@mixin code ($color-fg: $code-color-fg, $color-bg: $code-color-bg) {
  @include text--highlight($color-fg: $color-fg, $color-bg: $color-bg);
  display: inline;
  font-family: $text-font-family-mono;
  font-weight: $text-font-weight;
}

@mixin code--multiline {
  display: block;
  white-space: pre;
  padding: $spacing-small $spacing-medium;
  overflow-x: auto;
  border-radius: $border-radius;
}

@mixin keyboard-keys {
  @include code ($color-fg: $keyboard-color-fg, $color-bg: $keyboard-color-bg);
  border-radius: $keyboard-border-radius;
  border-bottom: $keyboard-border-width $keyboard-border-style $keyboard-border-color;
}

@mixin quotation {
  display: block;
  margin: 0;
  padding: $spacing-medium $spacing-large;
  border-left: 5px $border-style $color-grey;
  font-family: $text-font-family-serif;
}

@mixin quotation__body {
  @include paragraph;
  font-size: $text-font-size * 1.3;
}

@mixin quotation__footer {
  @include paragraph;
  @include text--quiet;
  font-style: italic;
}
