@import "settings.global";
@import "objects.grid";
@import "components.buttons";

@mixin calendar {
  @include grid;
  @include grid--wrap;
  @include grid--center;
  @include grid__cell--no-gutter;
  padding: $calendar-padding;
  max-width: $calendar-max-width;
  text-align: $calendar-text-align;
  background-color: $calendar-background-color;
  border: $calendar-border;
  border-radius: $calendar-border-radius;
  z-index: $z-over-control;
}

@mixin calendar__control($background-color: $calendar-control-background-color, $color: $calendar-control-color) {
  @include button--color($background-color, $color);
  padding: $calendar-control-padding;
  font-size: $calendar-control-font-size;
  flex: 0 0 14.28%;
  max-width: 14.28%;
  margin: 0;
  outline: 0;
  display: inline;
  border: $calendar-control-border-width $calendar-control-border-style transparent;
  border-radius: $calendar-control-border-radius;
  cursor: pointer;
  user-select: none;
}

@mixin calendar__header {
  @include grid__cell;
  @include grid__cell--no-gutter;
  @include grid__cell--width(70%);
  padding: $calendar-header-padding;
}

@mixin calendar__day {
  @include grid__cell;
  @include grid__cell--no-gutter;
  flex: 0 0 14.28%;
  max-width: 14.28%;
  padding: $calendar-day-padding;
  font-weight: $calendar-day-font-weight;
}

@mixin calendar__date {
  @include calendar__control($calendar-control-background-color, $calendar-control-color);
}

@mixin calendar__date--hover {
  border: $calendar-control-border-hover;
}

@mixin calendar__date--in-month {
  color: $calendar-control-date-in-month-color;
}

@mixin calendar__date--today {
  border-color: $calendar-today-border-color;
}

@mixin calendar__date--selected {
  @include button--color($calendar-control-selected-background-color, $calendar-control-selected-color);
  border-color: $calendar-control-selected-border-color;
}

@mixin calendar--high {
  box-shadow: $box-shadow-high;
}

@mixin calendar--higher {
  box-shadow: $box-shadow-higher;
}

@mixin calendar--highest {
  box-shadow: $box-shadow-highest;
}
