@import "settings.global";

@mixin progress-color($bg-color: $progress-background-color) {
  &[value]::-webkit-progress-value {
    background-color: $bg-color;
  }

  &[value]::-moz-progress-bar {
    background-color: $bg-color;
  }

  &[value]::-ms-fill {
    background-color: $bg-color;
  }
}