@import "settings.global";

@mixin hint {
  position: absolute;
  font-size: $hint-font-size;
  color: $hint-color;
  pointer-events: none;
  padding: $hint-padding;
  transform: scale(0.8);
  transform-origin: top left;
  opacity: 0;
}

@mixin hint--active {
  transform: scale(0.9);
  opacity: 1;
}

@mixin hint--success {
  color: $hint-success-color;
}

@mixin hint--error {
  color: $hint-error-color;
}
