@import "settings.global";

@mixin heading {
  font-weight: $heading-font-weight;
  font-size: $heading-font-size;
  margin: $heading-margin;
  padding: $heading-padding;
}

@mixin heading__subheading {
  @include heading;
  color: $heading-subheading-color;
  padding: $heading-subheading-padding;
  font-size: $heading-subheading-font-size;
}

@mixin heading--super {
  font-size: $heading-font-size-super;
}

@mixin heading--xlarge {
  font-size: $heading-font-size-xlarge;
}

@mixin heading--large {
  font-size: $heading-font-size-large;
}

@mixin heading--medium {
  font-size: $heading-font-size-medium;
}

@mixin heading--small {
  font-size: $heading-font-size-small;
}

@mixin heading--xsmall {
  font-size: $heading-font-size-xsmall;
}