@import "settings.global";
@import "objects.boxing";
@import "components.typography";

@mixin tabs {
  display: block;
}

@mixin tabs__headings {
  display: flex;
  text-align: center;
  cursor: pointer;
}

@mixin tab-heading {
  @include window-box--medium;
  flex: 1;
  margin: 0;
  box-shadow: 0 -.2em 0 0 $color-lighter-grey inset;
}

@mixin tab-heading--color($active-color: $color-default) {
  box-shadow: 0 -.2em 0 0 $active-color inset;
}

@mixin tab-heading--disabled {
  @include text--quiet;
  cursor: not-allowed;
}

@mixin tabs__tab {
  display: none;
  @include window-box--medium;
}

@mixin tabs__tab--active {
  display: block;
}
