@import "settings.global";
@import "utilities.boxing";

@mixin tags {
  position: relative;
  width: 100%;
  text-align: left;
}

@mixin tags-menu {
  position: absolute;
  width: 100%;
}

@mixin tags__container {
  display: inline-block;
  max-width: 70%;
  padding-right: $spacing-xsmall;
}

@mixin tag {
  padding: $spacing-small $spacing-small $spacing-large $spacing-small;
  position: relative;
  margin: $spacing-tiny;
  text-transform: none;
}

@mixin tag__close {
  position: absolute;
  right: 5px;
  top: 7px;
  color: $color-light-grey;
}

@mixin tags__field-container {
  position: absolute;
  width: 30%;
  display: inline-block;
  cursor: pointer;
}