@import "settings.global";
@import "objects.grid";
@import "utilities.boxing";

@mixin toggle {
  @include grid;
  @include grid--center;
  @include letter-box--small;
  width: auto;
  height: 1em;
  margin: 0.5em 0;
  user-select: none;
  cursor: pointer;
}

@mixin toggle__checkbox {
  display: none;
}

@mixin toggle__track--color($track-color: $color-default) {
  background-color: $track-color;
}

@mixin toggle__track {
  position: relative;
  @include grid__cell;
  @include grid__cell--width-fixed;
  width: 1em;
  height: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  @include toggle__track--color;
  border-radius: 0.25em;
}

@mixin toggle__track--unchecked {
  background-color: $color-lighter-grey;
}

@mixin toggle__track--disabled {
  background-color: $color-lighter-grey;
  cursor: not-allowed;
}

@mixin toggle__handle {
  position: absolute;
  top: -0.25em;
  left: 0;
  width: 1em;
  height: 1em;
  background-color: $color-white;
  border-radius: 0.5em;
  box-shadow: 0 1px 4px -1px $color-black;
  transform: translateX(100%);
}

@mixin toggle__handle--unchecked {
  transform: translateZ(0);
}

@mixin toggle__handle--disabled {
  background-color: $color-lighter-grey;
  cursor: not-allowed;
}