@import "settings.global";
@import "utilities.boxing";
@import "objects.grid";
@import "components.typography";
@import "components.buttons";

$calendar-max-width: 400px !default;

$calendar-color-bg: $color-white !default;
$calendar-color-fg: $color-black !default;

$calendar-border-width: $border-width !default;
$calendar-border-style: $border-style !default;
$calendar-border-color: $border-color !default;
$calendar-border: $calendar-border-width $calendar-border-style $calendar-border-color !default;

$calendar-border-radius: $border-radius !default;

$calendar-today-border-color: $color-light-grey;

@mixin calendar {
  @include grid;
  @include grid--wrap;
  @include grid--center;
  @include grid__cell--no-gutter;
  @include window-box--xsmall;
  text-align: center;
  background-color: $calendar-color-bg;
  border: $calendar-border;
  border-radius: $calendar-border-radius;
  max-width: $calendar-max-width;
  z-index: $z-over-control;
}

@mixin calendar__control($bg-color: $calendar-color-bg, $fg-color: $calendar-color-fg) {
  @include button--color($bg-color, $fg-color);
  @include letter-box--medium;
  @include pillar-box--small;
  @include text-size--medium;
  flex: 0 0 14.28%;
  max-width: 14.28%;
  margin: 0;
  outline: 0;
  display: inline;
  border: $calendar-border-width $calendar-border-style transparent;
  border-radius: $border-radius;
  cursor: pointer;
  user-select: none;
}

@mixin calendar__header {
  @include grid__cell;
  @include grid__cell--no-gutter;
  @include grid__cell--width(70%);
  @include letter-box--small;
}

@mixin calendar__day {
  @include grid__cell;
  @include grid__cell--no-gutter;
  @include letter-box--small;
  flex: 0 0 14.28%;
  max-width: 14.28%;
  font-weight: $text-font-weight-heavy;
}

@mixin calendar__date {
  @include calendar__control($color-white, $color-default);
}

@mixin calendar__date--hover {
  border: $calendar-border;
}

@mixin calendar__date--in-month {
  color: $calendar-color-fg;
}

@mixin calendar__date--today {
  border-color: $calendar-today-border-color;
}

@mixin calendar__date--selected {
  @include button--color($color-primary, $color-white);
  border-color: $color-primary;
}

@mixin calendar--high {
  box-shadow: $box-shadow-high;
}

@mixin calendar--higher {
  box-shadow: $box-shadow-higher;
}

@mixin calendar--highest {
  box-shadow: $box-shadow-highest;
}
