@import "settings.global";
@import "utilities.boxing";
@import "components.typography";

$input-color-bg: $color-white !default;

$input-border-width: $border-width !default;
$input-border-style: $border-style !default;
$input-border-color: $border-color !default;
$input-border: $input-border-width $input-border-style $input-border-color !default;

$input-border-radius: $border-radius !default;

$input-focus-border-color: $color-focus !default;
$input-focus-shadow: $box-shadow-focus !default;

$input--disabled-color-bg: $color-lighter-grey !default;
$input--disabled-border-color: $border-color !default;

@mixin label {
  display: block;
  width: 100%;
  @include letter-box--small;
  cursor: pointer;
}

@mixin field {
  @include window-box--small;
  outline: 0;
  display: block;
  width: 100%;
  margin: 0;
  @include text-size--medium;
  font-weight: $text-font-weight;
  font-family: inherit;
  background-color: $input-color-bg;
  border: $input-border;
  border-radius: $input-border-radius;
  resize: vertical;
  appearance: none;

  &:focus {
    border-color: $input-focus-border-color;
    box-shadow: $input-focus-shadow;
  }
}

@mixin field-spacing {
  margin-top: $spacing-large;
}

@mixin label__field {
  @include field;
  margin-top: $spacing-small;
}

@mixin disabled {
  @include text--quiet;
  cursor: not-allowed;
}

@mixin field--disabled {
  @include disabled;
  background-color: $input--disabled-color-bg;
  border-color: $input--disabled-border-color;
}

@mixin field--error {
  border-color: $color-error;
  color: $color-error;
}

@mixin field--success {
  border-color: $color-success;
}

@mixin choice {
  @include letter-box--small;
  outline: 0;
  display: block;
  margin: 0;
  @include text-size--medium;
  cursor: pointer;
  appearance: none;

  &:focus {
    border-color: $input-focus-border-color;
    box-shadow: $input-focus-shadow;
  }
}

@mixin choice--disabled {
  @include disabled;
}

@mixin choice--error {
  color: $color-error;
}

@mixin choice--success {
  color: $color-success;
}

@mixin select {
  @include choice;
  outline: 0;
  appearance: menulist;
  height: 2.5em;

  &:focus {
    border-color: $input-focus-border-color;
    box-shadow: $input-focus-shadow;
  }
}

@mixin select--disabled {
  @include field--disabled;
}

@mixin select--error {
  @include field--error;
}

@mixin select--success {
  @include field--success;
}

@mixin checkbox {
  outline: 0;
  margin-right: $spacing-tiny;
  font-size: $text-font-size * 2;

  &:focus {
    border-color: $input-focus-border-color;
    box-shadow: $input-focus-shadow;
  }
}

@mixin input-group {
  display: flex;
}

@mixin input-group__field {
  flex: 1;
  height: 100%;
}

@mixin input-group__field--center {
  border-radius: 0;
  border-right: 0;
  border-left: 0;
}

@mixin input-group__field--left {
  border-radius: $border-radius 0 0 $border-radius;
  border-right: 0;
}

@mixin input-group__field--right {
  border-radius: 0 $border-radius $border-radius 0;
  border-left: 0;
}

@mixin input-group__button--left {
  border-radius: $border-radius 0 0 $border-radius;
  border-width: 1px;
}

@mixin input-group__button--right {
  border-radius: 0 $border-radius $border-radius 0;
  border-width: 1px;
}

@mixin input-group-rounded--left {
  border-radius: $border-radius-rounded 0 0 $border-radius-rounded;
}

@mixin input-group-rounded--right {
  border-radius: 0 $border-radius-rounded $border-radius-rounded 0;
}

@mixin field-group {
  display: block;
}

@mixin field-group__field--center {
  border-radius: 0;
}

@mixin field-group__field--top {
  border-radius: $border-radius $border-radius 0 0;
}

@mixin field-group__field--bottom {
  border-radius: 0 0 $border-radius $border-radius;
}

@mixin field-group__field {
  border-top: 0;
}

@mixin field-group-inline {
  display: flex;
}

@mixin field-group-inline__field--center {
  border-radius: 0;
}

@mixin field-group-inline__field--left {
  border-radius: $border-radius 0 0 $border-radius;
}

@mixin field-group-inline__field--right {
  border-radius: 0 $border-radius $border-radius 0;
}

@mixin field-group-inline__field {
  border-left: 0;
}

@mixin fieldset {
  display: block;
  width: 100%;
  border: 0;
  padding: 0;
  margin: $spacing-small 0;
}

@mixin fieldset__legend {
  @include label;
  @include letter-box--xsmall;
}

@mixin fieldset--disabled {
  @include field--disabled;
}

@mixin form-element {
  @include letter-box--medium;
  position: relative;
}
