@import "settings.global";
@import "utilities.boxing";
@import "components.lists";

$card-border-width: $border-width !default;
$card-border-style: $border-style !default;
$card-border-color: $color-light-grey !default;
$card-border: $card-border-width $card-border-style $card-border-color !default;

$card-box-shadow: $box-shadow !default;
$card-border-radius: $border-radius !default;

$card-divider-color-bg: $color-dark-grey !default;
$card-divider-color-fg: $color-white !default;

$card-item-active-bg: $card-border-color !default;

@mixin card {
  @include list--unstyled;
  display: block;
  box-shadow: $card-box-shadow;
  border-radius: $card-border-radius;
  overflow: hidden;
}

@mixin card-spacing {
  margin-top: $spacing-medium;
}

@mixin card-first-last-paragraph {
  padding: 0;
}

@mixin card__content {
  @include window-box--small;
}

@mixin card__content--divider {
  background-color: $color-dark-grey;
  color: $color-white;
  font-weight: $text-font-weight-heavy;
}

@mixin card__item {
  @include window-box--small;
  &:not(:last-child) {
    border-bottom: $card-border;
  }
}

@mixin card__item--borderless {
  &:not(:last-child) {
    border-bottom: 0;
  }
}

@mixin card__group-divider {
  height: $card-border-width;
  overflow: hidden;
  background-color: $card-border-color;
}

@mixin card__item--divider {
  @include card__content--divider;
}

@mixin card__item--hover {
  cursor: pointer;
}

@mixin card__item--active {
  background-color: $card-item-active-bg;
}

@mixin card--high {
  box-shadow: $box-shadow-high;
}

@mixin card--higher {
  box-shadow: $box-shadow-higher;
}

@mixin card--highest {
  box-shadow: $box-shadow-highest;
}
