@import "settings.global";
@import "utilities.boxing";

@mixin hint {
  position: absolute;
  font-size: 1em;
  color: $color-darker-grey;
  pointer-events: none;
  @include pillar-box--small;
  transform: scale(0.8);
  transform-origin: top left;
  opacity: 0;
}

@mixin hint--active {
  transform: scale(0.9);
  opacity: 1;
}