@import "settings.global";
@import "utilities.boxing";

@mixin toggle {
  @include letter-box--small;
  display: block;
  width: 60px;
  height: 20px;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin toggle__wrapper {
  position: absolute;
  cursor: pointer;
  width: auto;
  min-height: 1em;
  padding-left: 50px;
}

@mixin toggle__wrapper--right {
  padding-right: 50px;
  padding-left: 0;
}

@mixin toggle__checkbox {
  display: none;
}

@mixin toggle__track--color($track-color: $color-default) {
  background-color: $track-color;
}

@mixin toggle__track {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  width: 40px;
  height: 10px;
  margin-top: -5px;
  @include toggle__track--color;
  border-radius: 30em;
}

@mixin toggle__track--unchecked {
  background-color: $color-lighter-grey;
}

@mixin toggle__track--right {
  left: auto;
}

@mixin toggle__track--disabled {
  background-color: $color-lighter-grey;
  cursor: not-allowed;
}

@mixin toggle__handle {
  position: absolute;
  top: -5px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: $color-white;
  border-radius: 30em;
  box-shadow: 0 1px 4px -1px $color-black;
  transform: translateX(100%);
}

@mixin toggle__handle--unchecked {
  transform: translateZ(0);
}

@mixin toggle__handle--disabled {
  background-color: $color-lighter-grey;
  cursor: not-allowed;
}