@import "settings.global";

@mixin overlay--color($background-color: $overlay-background-color) {
  background-color: transparentize($background-color, .6);
}

@mixin overlay {
  @include overlay--color();
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: $overlay-z-index;
}

@mixin overlay--fullpage {
  position: fixed;
}

@mixin overlay--transparent {
  background-color: $overlay-transparent-background-color;
}

@mixin overlay--dismissable {
  cursor: pointer;
}