@import "settings.global";

@mixin link--color($color: $link-color) {
  color: $color;
  background-color: transparent;

  &:visited {
    color: darken($color, $color-tint);
  }

  &:hover {
    color: lighten($color, $color-tint);
  }

  &:active {
    color: lighten($color, $color-tint);
  }
}