@import "settings.global";
@import "components.typography";

@mixin address {
  @include paragraph;
  font-style: $address-font-style;
}

@mixin address__heading {
  display: block;
  font-weight: $address-heading-font-weight;
}