@import "settings.global";
@import "objects.boxing";
@import "components.typography";

@mixin label {
  display: block;
  width: 100%;
}

@mixin labelfor {
  @include label;
  @include letter-box--small;
  cursor: pointer;
}

@mixin field {
  @include window-box--small;
  display: block;
  width: 100%;
  margin: 0;
  @include text-size--medium;
  font-weight: $text-font-weight;
  font-family: inherit;
  background-color: $color-white;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  resize: vertical;
  appearance: none;
}

@mixin field-spacing {
  margin-top: $spacing-medium;
}

@mixin label__field {
  @include field;
  margin-top: $spacing-small;
}

@mixin disabled {
  @include text--quiet;
  cursor: not-allowed;
}

@mixin field--disabled {
  @include disabled;
  background-color: $color-lighter-grey;
  border: 1px solid $border-color;
}

@mixin field--error {
  border: 1px solid $color-error;
  color: $color-error;
}

@mixin field--success {
  border: 1px solid $color-success;
}

@mixin choice {
  @include letter-box--small;
  display: block;
  margin: 0;
  @include text-size--medium;
  cursor: pointer;
  appearance: none;
}

@mixin choice--disabled {
  @include disabled;
}

@mixin choice--error {
  color: $color-error;
}

@mixin choice--success {
  color: $color-success;
}

@mixin select {
  @include choice;
  appearance: menulist;
  height: 2.5em;
}

@mixin select--disabled {
  @include field--disabled;
}

@mixin select--error {
  @include field--error;
}

@mixin select--success {
  @include field--success;
}

@mixin checkbox {
  margin-right: $spacing-tiny;
  font-size: $text-font-size * 2;
}

@mixin input-group {
  display: flex;
}

@mixin input-group__field {
  flex: 1;
  height: 100%;
}

@mixin input-group__field--center {
  border-radius: 0;
  border-right: 0;
  border-left: 0;
}

@mixin input-group__field--left {
  border-radius: $border-radius 0 0 $border-radius;
  border-right: 0;
}

@mixin input-group__field--right {
  border-radius: 0 $border-radius $border-radius 0;
  border-left: 0;
}

@mixin input-group__button--left {
  border-radius: $border-radius 0 0 $border-radius;
  border-width: 1px;
}

@mixin input-group__button--right {
  border-radius: 0 $border-radius $border-radius 0;
  border-width: 1px;
}

@mixin field-group {
  display: block;
}

@mixin field-group__field--center {
  border-radius: 0;
}

@mixin field-group__field--top {
  border-radius: $border-radius $border-radius 0 0;
}

@mixin field-group__field--bottom {
  border-radius: 0 0 $border-radius $border-radius;
}

@mixin field-group__field {
  border-top: 0;
}

@mixin field-group-inline {
  display: flex;
}

@mixin field-group-inline__field--center {
  border-radius: 0;
}

@mixin field-group-inline__field--left {
  border-radius: $border-radius 0 0 $border-radius;
}

@mixin field-group-inline__field--right {
  border-radius: 0 $border-radius $border-radius 0;
}

@mixin field-group-inline__field {
  border-left: 0;
}

@mixin fieldset {
  display: block;
  width: 100%;
  border: 0;
  padding: 0;
  margin: $spacing-small 0;
}

@mixin fieldset__legend {
  @include label;
  @include letter-box--xsmall;
}

@mixin fieldset--disabled {
  @include field--disabled;
}