@import "vars";
@import "typography";

@mixin heading {
  font-weight: $text-font-weight;
  font-size: $text-font-size;
  margin: 0;
  padding: $spacing-medium 0 $spacing-small;
}

@mixin heading__subheading {
  @include heading;
  @include text--quiet;
  padding: $spacing-small 0;
  font-size: $text-font-size * .8;
}

@mixin heading--super {
  font-size: $text-font-size * 4;
}

@mixin heading--xlarge {
  font-size: $text-font-size * 3;
}

@mixin heading--large {
  font-size: $text-font-size * 2;
}

@mixin heading--medium {
  font-size: $text-font-size * 1.5;
}

@mixin heading--small {
  font-size: $text-font-size * 1.25;
}

@mixin heading--xsmall {
  font-size: $text-font-size * 1.05;
}