@mixin label {
  display: block;
  width: 100%;
}

@mixin labelfor {
  @include label;
  @include letter-box--small;
  cursor: pointer;
}

@mixin field {
  @include window-box--small;
  display: block;
  width: 100%;
  font-size: $text-font-size * .9;
  font-weight: $text-font-weight;
  background-color: $color-white;
  border: 1px solid $color-dark-grey;
  border-radius: $border-radius;
  box-shadow: 0 3px 3px -3px $color-grey inset;
  resize: vertical;
  appearance: none;
}

@mixin field-spacing {
  margin-top: $spacing-medium;
}

@mixin label__field {
  @include field;
  margin-top: $spacing-small;
}

@mixin disabled {
  @include text--quiet;
  cursor: not-allowed;
}

@mixin field--disabled {
  @include disabled;
  background-color: $color-lighter-grey;
  border: 1px solid $color-dark-grey;
}

@mixin field--error {
  border: 1px solid $color-red;
  border-left-width: 3px;
  color: $color-red;
}

@mixin field--success {
  border: 1px solid $color-green;
  border-left-width: 3px;
}

@mixin choice {
  @include letter-box--small;
  display: block;
  font-size: $text-font-size * .9;
  cursor: pointer;
  appearance: none;
}

@mixin choice--disabled {
  @include disabled;
}

@mixin choice--error {
  color: $color-red;
}

@mixin choice--success {
  color: $color-green;
}

@mixin select {
  @include choice;
  appearance: menulist;
  height: 2.5em;
}

@mixin select--disabled {
  @include field--disabled;
}

@mixin select--error {
  @include field--error;
}

@mixin select--success {
  @include field--success;
}

@mixin checkbox {
  margin-right: $spacing-tiny;
  font-size: $text-font-size * 2;
}

@mixin fieldset {
  display: block;
  width: 100%;
  border: 0;
  padding: 0;
  margin: $spacing-small 0;
}

@mixin legend {
  @include label;
  @include letter-box--xsmall;
}

@mixin fieldset--disabled {
  @include field--disabled;
}