@import "vars";

@mixin link--color($fg-color: $color-dark-blue) {
  color: $fg-color;

  &:visited {
    color: darken($fg-color, $color-tint);
  }

  &:hover {
    color: lighten($fg-color, $color-tint);
  }

  &:active {
    color: lighten($fg-color, $color-tint);
  }
}

@mixin link--visited {
  color: $color-dark-purple;
}

@mixin link--hover {
  color: $color-blue;
  text-decoration: underline;
}

@mixin link--active {
  color: $color-pink;
}

@mixin link {
  @include link--color;
  text-decoration: none;
  cursor: pointer;

  &[href^="http"]:empty::before {
    content: attr(href);
  }

  &:hover {
    text-decoration: underline;
  }
}
