@import "vars";

@mixin link--color($fg-color: $color-dark-primary) {
  color: $fg-color;
  background-color: transparent;

  &:visited {
    color: darken($fg-color, $color-tint);
  }

  &:hover {
    color: lighten($fg-color, $color-tint);
  }

  &:active {
    color: lighten($fg-color, $color-tint);
  }
}

@mixin link {
  @include link--color;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
