@import "vars";
@import "boxing";
@import "alignment";

@mixin modal {
  @include center-block__content;
  display: none;
  width: 80%;
  background-color: $color-white;
  border-radius: $border-radius;
  z-index: $z-over-everything;
}

@mixin modal__header {
  position: relative;
  text-align: center;
}

@mixin modal__body {
  @include window-box--medium;
}

@mixin modal__footer {
  @include window-box--medium;
}

@mixin modal--ghost {
  display: block;
  background-color: transparent;
  color: $color-white;
}

@mixin modal__heading--ghost {
  color: $color-white;
}

@mixin modal--visible {
  display: block;
}

@mixin modal--high {
  box-shadow: 0 5px 5px -2px $color-black;
}

@mixin modal--higher {
  box-shadow: 0 10px 12px 0 $color-black;
}

@mixin modal--highest {
  box-shadow: 0 13px 16px 3px $color-black;
}