@import "settings.global";

@mixin panel-container {
  position: relative;
}

@mixin panel {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  position: absolute;
}

@mixin panel--nav-top {
  top: $panel-nav-top;
}

@mixin panel--nav-bottom {
  bottom: $panel-nav-bottom;
}
