@import "vars";

@mixin range {
  outline: 0;
  -webkit-appearance: none;
  width: 100%;
  margin: 6.5px 0;
}

@mixin range__track {
  width: 100%;
  height: 2px;
  background-color: $color-primary;
  border-radius: 0;
  border: 0;
  box-shadow: none;
  cursor: pointer;
}

@mixin range__track--ms {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
  color: transparent;
}

@mixin range__fill--ms {
  background-color: $color-primary;
  border: 0;
  border-radius: 0;
  box-shadow: none;
}

@mixin range__thumb {
  height: 15px;
  width: 15px;
  border: 2px solid $color-primary;
  background-color: $color-white;
  border-radius: 100%;
  box-shadow: none;
  cursor: pointer;
}

@mixin range__thumb--webkit {
  height: 15px;
  width: 15px;
  margin-top: -6.5px;
  border: 2px solid $color-primary;
  background-color: $color-white;
  border-radius: 100%;
  box-shadow: none;
  cursor: pointer;
  -webkit-appearance: none;
}
