@import "settings.global";

$toggle-margin: 0 0.5em !default;

$toggle-track-background-color: $color-default !default;
$toggle-track-border-radius: $border-radius-rounded !default;
$toggle-track-unchecked-background-color: $color-lighter-grey !default;
$toggle-track-disabled-background-color: $color-lighter-grey !default;

$toggle-handle-background-color: $color-white !default;
$toggle-handle-border-radius: $border-radius-rounded !default;
$toggle-handle-box-shadow: 0 1px 4px -1px $color-black !default;
$toggle-handle-disabled-background-color: $color-lighter-grey !default;