@import "settings.global";

$toasts-width: 250px !default;
$toasts-background-color: transparent !default;
$toasts-z-index: $z-over-page !default;

$toast-padding: $spacing-medium !default;
$toast-margin: $spacing-small !default;
$toast-background-color: $color-default !default;
$toast-color: $color-white !default;
$toast-border-radius: $border-radius !default;