@import "settings.global";

// Typography
$text-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !default;
$text-font-family-serif: Georgia, Cambria, "Times New Roman", Times, serif !default;
$text-font-family-mono: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace !default;
$text-font-size-super: 3em !default;
$text-font-size-xlarge: 2em !default;
$text-font-size-large: 1.5em !default;
$text-font-size-medium: 1em !default;
$text-font-size-small: 0.9em !default;
$text-font-size-xsmall: 0.7em !default;
$text-font-weight: normal !default;
$text-font-weight-heavy: bold !default;
$text-line-height: 1.55 !default;
$text-color: $color-black !default;

$highlight-padding: $spacing-xsmall $spacing-xsmall $spacing-tiny !default;
$highlight-margin: 0 -$spacing-tiny !default;
$highlight-color: $color-black !default;
$highlight-background-color: $color-yellow !default;

$help-border: $border-width dashed $color-dark-grey !default;

$paragraph-padding: $spacing-small 0 !default;
$paragraph-margin: 0 !default;
$paragraph-font-style: normal !default;

$code-color: $text-color !default;
$code-background-color: $color-lighter-grey !default;
$code-font-family: $text-font-family-mono !default;
$code-font-weight: $text-font-weight !default;

$code-multiline-padding: $spacing-small $spacing-medium !default;
$code-multiline-border-radius: $border-radius !default;

$keyboard-color: $color-white !default;
$keyboard-background-color: $color-primary !default;

$keyboard-border-width: 2px !default;
$keyboard-border-style: $border-style !default;
$keyboard-border-color: $color-darker-primary !default;
$keyboard-border: $keyboard-border-width $keyboard-border-style $keyboard-border-color !default;
$keyboard-border-radius: $border-radius !default;

$quotation-color: $color-quiet !default;
$quotation-font-size: $text-font-size-large !default;
$quotation-footer-font-style: italic !default;