@import "settings.global";
@import "settings.typography";

$label-padding: $spacing-medium 0 !default;
$label-field-margin: $spacing-small 0 0 0 !default;

$field-padding: $spacing-small !default;
$field-margin: 0 !default;

$field-color: inherit !default;
$field-background-color: $color-white !default;

$field-font-size-super: $text-font-size-super !default;
$field-font-size-xlarge: $text-font-size-xlarge !default;
$field-font-size-large: $text-font-size-large !default;
$field-font-size-medium: $text-font-size-medium !default;
$field-font-size-small: $text-font-size-small !default;
$field-font-size-xsmall: $text-font-size-xsmall !default;
$field-font-weight: $text-font-weight !default;

$field-border-width: $border-width !default;
$field-border-style: $border-style !default;
$field-border-color: $border-color !default;
$field-border: $field-border-width $field-border-style $field-border-color !default;
$field-border-radius: $border-radius !default;

$field-focus-border-color: $border-color-focus !default;
$field-focus-box-shadow: $box-shadow-focus !default;

$field-disabled-background-color: $color-lighter-grey !default;
$field-disabled-border-color: $border-color !default;
$field-disabled-color: $color-disabled !default;

$field-error-border-color: $color-error !default;
$field-error-color: $color-error !default;

$field-success-border-color: $color-success !default;
$field-success-color: $field-color !default;

$choice-padding: $spacing-small 0 !default;
$choice-margin: 0 !default;
$choice-font-size-super: $text-font-size-super !default;
$choice-font-size-xlarge: $text-font-size-xlarge !default;
$choice-font-size-large: $text-font-size-large !default;
$choice-font-size-medium: $text-font-size-medium !default;
$choice-font-size-small: $text-font-size-small !default;
$choice-font-size-xsmall: $text-font-size-xsmall !default;

$choice-error-color: $color-error !default;
$choice-success-color: $color-success !default;

$checkbox-margin: $spacing-tiny !default;
$checkbox-font-size: $text-font-size-medium !default;

$fieldset-padding: 0 !default;
$fieldset-margin: $spacing-small 0 !default;
$fieldset-width: 100% !default;
$fieldset-border: 0 !default;

$legend-padding: $spacing-xsmall 0 !default;

$form-element-padding: $spacing-medium 0 !default;
$form-element-label-padding: 0 0 $spacing-small 0 !default;
