@import "settings.global";

$bubble-padding: $spacing-medium !default;

$bubble-background-color: $color-black !default;
$bubble-color: $color-white !default;

$bubble-text-align: center !default;

$bubble-border-radius: $border-radius !default;