@import "settings.global";

$drawer-width-horizontal: 80% !default;
$drawer-width-vertical: 260px !default;
$drawer-background-color: $color-white !default;
$drawer-color: $color-black !default;
$drawer-border-radius: $border-radius !default;
$drawer-z-index: $z-over-everything !default;

$drawer-heading-padding: $spacing-medium !default;

$drawer-body-padding: $spacing-medium !default;
