@import "settings.global";
@import "settings.typography";

$button-padding: $spacing-small !default;
$button-margin: 0 !default;

$button-color: $color-white !default;
$button-background-color: $color-default !default;

$button-disabled-color: $color-disabled !default;
$button-disabled-background-color: $color-lighter-grey !default;

$button-font-family: inherit !default;
$button-font-size: 1em !default;
$button-text-transform: uppercase !default;
$button-font-style-disabled: italic !default;

$button-border-width: $border-width !default;
$button-border-style: $border-style !default;
$button-border-color: transparent !default;
$button-border: $button-border-width $button-border-style $button-border-color !default;
$button-border-radius: $border-radius !default;

$button-focus-border-color: $border-color-focus !default;
$button-focus-box-shadow: $box-shadow-focus !default;

$button-ghost-color: $border-color !default;
$button-ghost-color-hover: $color-white !default;
$button-ghost-border-width: $button-border-width !default;
$button-ghost-border-style: $button-border-style !default;

$button-rounded-border-radius: $border-radius-rounded !default;

$button-close-font-weight: $text-font-weight-heavy !default;
$button-close-font-size: 1.4em !default;

$button-icon-left-padding: $spacing-small !default;
$button-icon-right-padding: $spacing-small !default;

$button-super-font-size: $text-font-size-super;
$button-xlarge-font-size: $text-font-size-xlarge;
$button-large-font-size: $text-font-size-large;
$button-medium-font-size: $text-font-size-medium;
$button-small-font-size: $text-font-size-small;
$button-xsmall-font-size: $text-font-size-xsmall;