@import "settings.global";

$tags-width: 100% !default;
$tags-text-align: left !default;

$tag-padding: $spacing-small $spacing-large $spacing-small $spacing-small !default;
$tag-margin: $spacing-tiny !default;

$tag-close-color: $color-light-grey !default;

$tags-container-width: 70% !default;
$tags-field-container-width: 30% !default;
