@import "settings.global";
@import "settings.typography";

$calendar-padding: $spacing-xsmall !default;
$calendar-max-width: 400px !default;
$calendar-background-color: $color-white !default;
$calendar-color: $color-black !default;
$calendar-text-align: center!default;
$calendar-border-width: $border-width !default;
$calendar-border-style: $border-style !default;
$calendar-border-color: $border-color !default;
$calendar-border: $calendar-border-width $calendar-border-style $calendar-border-color !default;
$calendar-border-radius: $border-radius !default;

$calendar-control-padding: $spacing-medium $spacing-small !default;
$calendar-control-background-color: $color-white !default;
$calendar-control-color: $color-default !default;
$calendar-control-date-in-month-color: $color-black !default;
$calendar-control-font-size: $text-font-size-medium !default;
$calendar-control-border-width: $border-width !default;
$calendar-control-border-style: $border-style !default;
$calendar-control-border-color: $border-color !default;
$calendar-control-border: $calendar-control-border-width $calendar-control-border-style $calendar-control-border-color !default;
$calendar-control-border-hover: $calendar-control-border !default;
$calendar-control-border-radius: $border-radius !default;

$calendar-control-selected-background-color: $color-primary !default;
$calendar-control-selected-color: $color-white !default;
$calendar-control-selected-border-color: $color-primary !default;

$calendar-header-padding: $spacing-small 0 !default;

$calendar-day-font-weight: $text-font-weight-heavy !default;
$calendar-day-padding: $spacing-small 0 !default;

$calendar-today-border-color: $color-light-grey !default;
