@import "settings.global";
@import "settings.typography";

$pagination-padding: $spacing-medium !default;
$pagination-width: 100% !default;
$pagination-font-size: $text-font-size-small !default;

$pagination-control-color: $color-grey !default;

$pagination-page-color: $color-primary !default;

$pagination-page-current-background-color: $color-primary !default;
$pagination-page-current-color: $color-white !default;

$pagination-ellipsis-padding: 0 $spacing-medium !default;