@import "settings.global";
@import "settings.typography";

$menu-width: 100% !default;
$menu-max-height: 280px !default;
$menu-margin: $spacing-xsmall 0 0 0 !default;
$menu-background-color: $color-white !default;
$menu-border-radius: $border-radius !default;
$menu-z-index: $z-over-content !default;

$menu-item-divider-color: $color-quiet !default;
$menu-item-divider-font-weight: $text-font-weight-heavy !default;

$menu-item-hover-background-color: $color-lighter-grey !default;

$menu-item-active-background-color: $color-lighter-grey !default;
$menu-item-active-font-weight: $text-font-weight-heavy !default;

$menu-item-disabled-color: $color-disabled !default;
