@import "settings.global";

$tab-headings-text-align: center !default;

$tab-heading-padding: $spacing-medium !default;
$tab-heading-margin: 0 !default;
$tab-heading-box-shadow-color: $color-lighter-grey !default;

$tab-heading-active-box-shadow-color: $color-default !default;

$tab-heading-disabled-color: $color-disabled !default;
$tab-heading-disabled-background-color: initial !default;

$tab-padding: $spacing-medium !default;
