// Screen Sizes
$screen-limit-xsmall: 20em !default;
$screen-limit-small: 30em !default;
$screen-limit-medium: 48em !default;
$screen-limit-large: 64em !default;
$screen-limit-xlarge: 78em !default;
$screen-limit-super: 116em !default;

$screen-adjustment: 0.01 !default;

$screen-limits: (
        xsmall: $screen-limit-xsmall,
        small: $screen-limit-small,
        medium: $screen-limit-medium,
        large: $screen-limit-large,
        xlarge: $screen-limit-xlarge,
        super: $screen-limit-super
);

// Spacing
$spacing-tiny: .1em !default;
$spacing-xsmall: .3em !default;
$spacing-small: .5em !default;
$spacing-medium: 1em !default;
$spacing-large: 1.5em !default;
$spacing-xlarge: 2em !default;
$spacing-super: 3em !default;

// Colors
$color-black: #111111 !default;
$color-white: #FFFFFF !default;
$color-beige: #F2F2EA !default;
$color-red: #EF4F52 !default;
$color-pink: #EC65C3 !default;
$color-purple: #AB47BC !default;
$color-blue: #42A5F5 !default;
$color-green: #66BB6A !default;
$color-yellow: #F6ED30 !default;
$color-orange: #FF7043 !default;
$color-brown: #8D6E63 !default;
$color-grey: lighten($color-black, 70) !default;

$color-tint: 9 !default;

$color-dark-grey: darken($color-grey, $color-tint);
$color-dark-red: darken($color-red, $color-tint);
$color-dark-pink: darken($color-pink, $color-tint);
$color-dark-purple: darken($color-purple, $color-tint);
$color-dark-blue: darken($color-blue, $color-tint);
$color-dark-green: darken($color-green, $color-tint);
$color-dark-yellow: darken($color-yellow, $color-tint);
$color-dark-orange: darken($color-orange, $color-tint);
$color-dark-brown: darken($color-brown, $color-tint);

$color-darker-grey: darken($color-dark-grey, $color-tint);
$color-darker-red: darken($color-dark-red, $color-tint);
$color-darker-pink: darken($color-dark-pink, $color-tint);
$color-darker-purple: darken($color-dark-purple, $color-tint);
$color-darker-blue: darken($color-dark-blue, $color-tint);
$color-darker-green: darken($color-dark-green, $color-tint);
$color-darker-yellow: darken($color-dark-yellow, $color-tint);
$color-darker-orange: darken($color-dark-orange, $color-tint);
$color-darker-brown: darken($color-dark-brown, $color-tint);

$color-light-grey: lighten($color-grey, $color-tint);
$color-light-red: lighten($color-red, $color-tint);
$color-light-pink: lighten($color-pink, $color-tint);
$color-light-purple: lighten($color-purple, $color-tint);
$color-light-blue: lighten($color-blue, $color-tint);
$color-light-green: lighten($color-green, $color-tint);
$color-light-yellow: lighten($color-yellow, $color-tint);
$color-light-orange: lighten($color-orange, $color-tint);
$color-light-brown: lighten($color-brown, $color-tint);

$color-lighter-grey: lighten($color-light-grey, $color-tint);
$color-lighter-red: lighten($color-light-red, $color-tint);
$color-lighter-pink: lighten($color-light-pink, $color-tint);
$color-lighter-purple: lighten($color-light-purple, $color-tint);
$color-lighter-blue: lighten($color-light-blue, $color-tint);
$color-lighter-green: lighten($color-light-green, $color-tint);
$color-lighter-yellow: lighten($color-light-yellow, $color-tint);
$color-lighter-orange: lighten($color-light-orange, $color-tint);
$color-lighter-brown: lighten($color-light-brown, $color-tint);

$color-default: $color-dark-grey !default;
$color-primary: $color-blue !default;
$color-secondary: $color-orange !default;
$color-success: $color-green !default;
$color-error: $color-red !default;

$color-dark-primary: darken($color-primary, $color-tint);
$color-darker-primary: darken($color-dark-primary, $color-tint);
$color-light-primary: lighten($color-primary, $color-tint);
$color-lighter-primary: lighten($color-light-primary, $color-tint);

$color-dark-secondary: darken($color-secondary, $color-tint);
$color-darker-secondary: darken($color-dark-secondary, $color-tint);
$color-light-secondary: lighten($color-secondary, $color-tint);
$color-lighter-secondary: lighten($color-light-secondary, $color-tint);

$color-dark-success: darken($color-success, $color-tint);
$color-darker-success: darken($color-dark-success, $color-tint);
$color-light-success: lighten($color-success, $color-tint);
$color-lighter-success: lighten($color-light-success, $color-tint);

$color-dark-error: darken($color-error, $color-tint);
$color-darker-error: darken($color-dark-error, $color-tint);
$color-light-error: lighten($color-error, $color-tint);
$color-lighter-error: lighten($color-light-error, $color-tint);

$color-disabled: $color-dark-grey !default;
$color-quiet: $color-dark-grey !default;

// Borders
$border-width: 1px !default;
$border-style: solid !default;
$border-color: $color-dark-grey !default;

// Border radius
$border-radius: 4px !default;
$border-radius-rounded: 30em !default;

// Box shadows
$box-shadow: 0 0 1px transparentize($color-black, .7) !default;
$box-shadow-high: 0 0 1px transparentize($color-black, .7), 0 5px 10px -3px transparentize($color-black, .8) !default;
$box-shadow-higher: 0 0 1px transparentize($color-black, .7), 0 10px 25px -4px transparentize($color-black, .8) !default;
$box-shadow-highest: 0 0 1px transparentize($color-black, .7), 0 20px 55px -8px transparentize($color-black, .8) !default;

$box-shadow-solid: 0 0 1px transparentize($color-black, .3) !default;
$box-shadow-solid-high: 0 0 1px transparentize($color-black, .3), 0 5px 10px -3px transparentize($color-black, .2) !default;
$box-shadow-solid-higher: 0 0 1px transparentize($color-black, .3), 0 10px 25px -4px transparentize($color-black, .2) !default;
$box-shadow-solid-highest: 0 0 1px transparentize($color-black, .3), 0 20px 55px -8px transparentize($color-black, .2) !default;

// Focus styles
$border-color-focus: $color-blue !default;
$box-shadow-focus: inset 0 0 0 2px lighten($border-color-focus, $color-tint) !default;

// Z Indexes
$z-over-content: 100 !default;
$z-over-control: 200 !default;
$z-over-page: 300 !default;
$z-over-screen: 400 !default;
$z-over-everything: 500 !default;
