@import "vars";
@import "boxing";

@mixin tags {
  position: relative;
  width: 100%;
  font-size: $text-font-size * .9;
  text-align: left;
}

@mixin tags-menu {
  position: absolute;
  width: 100%;
}

@mixin tags__container {
  display: inline-block;
  max-width: 70%;
  padding-right: $spacing-xsmall;
}

@mixin tag {
  @include window-box--small;
  padding-right: $spacing-large;
  position: relative;
  display: inline-block;
  border-radius: $border-radius;
  margin: $spacing-tiny;
  background-color: $color-black;
  color: $color-white;
  cursor: pointer;
}

@mixin tag__close {
  position: absolute;
  right: 5px;
  top: 7px;
  color: $color-grey;
}

@mixin tags__field-container {
  position: absolute;
  width: 30%;
  display: inline-block;
  cursor: pointer;
}