@import "vars";
@import "boxing";

@mixin toasts {
  display: none;
  position: absolute;
  width: 250px;
  max-height: 100%;
  overflow-y: auto;
  background-color: transparent;
  z-index: $z-over-page;
}

@mixin toasts--visible {
  display: block;
}

@mixin toasts--topleft {
  top: 0;
  left: 0;
}

@mixin toasts--topright {
  top: 0;
  right: 0;
}

@mixin toasts--bottomleft {
  bottom: 0;
  left: 0;
}

@mixin toasts--bottomright {
  bottom: 0;
  right: 0;
}

@mixin toast {
  display: none;
  @include window-box--medium;
  margin: $spacing-small;
  background-color: $color-black;
  color: $color-white;
  font-size: $text-font-size * .9;
  border-radius: $border-radius;
  cursor: pointer;
}

@mixin toast--color($bg-color: $color-black, $fg-color: $color-white) {
  background-color: $bg-color;
  color: $fg-color;
}

@mixin toast--visible {
  display: block;
}
