@import "settings.animations";

@mixin zoom-keyframes {
  @keyframes zoom {
    from {
      transform: scale3d(0, 0, 0);
      opacity: 0;
    }

    to {
      transform: scale3d(1, 1, 1);
      opacity: 1;
    }
  }
}

@mixin zoom {
  animation-name: zoom;
  animation-duration: $animation-duration;
  animation-fill-mode: both;
  animation-timing-function: $animation-easing;
}

@mixin zoom--top {
  transform-origin: top;
}

@mixin zoom--bottom {
  transform-origin: bottom;
}

@mixin zoom--left {
  transform-origin: left;
}

@mixin zoom--right {
  transform-origin: right;
}

@mixin zoom--slow {
  animation-duration: $animation-duration-slow;
}

@mixin zoom--fast {
  animation-duration: $animation-duration-fast;
}