@import "settings.animations";

@mixin flip-y-keyframes {
  @keyframes flip-y {
    from {
      transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
      animation-timing-function: ease-in;
      opacity: 0;
    }

    40% {
      transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
      animation-timing-function: ease-in;
    }

    60% {
      transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
      opacity: 1;
    }

    80% {
      transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    }

    to {
      transform: perspective(400px);
    }
  }
}

@mixin flip-y {
  animation-name: flip-y;
  animation-duration: $animation-duration;
  animation-fill-mode: both;
  animation-timing-function: $animation-easing;
  backface-visibility: visible !important;
}

@mixin flip-y--slow {
  animation-duration: $animation-duration-slow;
}

@mixin flip-y--fast {
  animation-duration: $animation-duration-fast;
}
