@import "settings.animations";

@mixin fade-out-keyframes {
  @keyframes fade-out {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }
}

@mixin fade-out {
  animation-name: fade-out;
  animation-duration: $animation-duration;
  animation-fill-mode: both;
  animation-timing-function: $animation-easing;
}

@mixin fade-out--slow {
  animation-duration: $animation-duration-slow;
}

@mixin fade-out--fast {
  animation-duration: $animation-duration-fast;
}