@mixin util__outline {
  border: 1px solid $color-pink;
  * {
    border: 1px solid $color-purple;
  }
}

@mixin util__color--black {
  color: $color-black;
}

@mixin util__color--white {
  color: $color-white;
}

@mixin util__color--red {
  color: $color-red;
}

@mixin util__color--pink {
  color: $color-pink;
}

@mixin util__color--purple {
  color: $color-purple;
}

@mixin util__color--blue {
  color: $color-blue;
}

@mixin util__color--green {
  color: $color-green;
}

@mixin util__color--yellow {
  color: $color-yellow;
}

@mixin util__color--orange {
  color: $color-orange;
}

@mixin util__color--brown {
  color: $color-brown;
}

@mixin util__color--grey {
  color: $color-grey;
}

@mixin util__color--dark-red {
  color: $color-dark-red;
}

@mixin util__color--dark-pink {
  color: $color-dark-pink;
}

@mixin util__color--dark-purple {
  color: $color-dark-purple;
}

@mixin util__color--dark-blue {
  color: $color-dark-blue;
}

@mixin util__color--dark-green {
  color: $color-dark-green;
}

@mixin util__color--dark-yellow {
  color: $color-dark-yellow;
}

@mixin util__color--dark-orange {
  color: $color-dark-orange;
}

@mixin util__color--dark-brown {
  color: $color-dark-brown;
}

@mixin util__color--dark-grey {
  color: $color-dark-grey;
}

@mixin util__color--darker-red {
  color: $color-darker-red;
}

@mixin util__color--darker-pink {
  color: $color-darker-pink;
}

@mixin util__color--darker-purple {
  color: $color-darker-purple;
}

@mixin util__color--darker-blue {
  color: $color-darker-blue;
}

@mixin util__color--darker-green {
  color: $color-darker-green;
}

@mixin util__color--darker-yellow {
  color: $color-darker-yellow;
}

@mixin util__color--darker-orange {
  color: $color-darker-orange;
}

@mixin util__color--darker-brown {
  color: $color-darker-brown;
}

@mixin util__color--darker-grey {
  color: $color-darker-grey;
}


@mixin util__color--light-red {
  color: $color-light-red;
}

@mixin util__color--light-pink {
  color: $color-light-pink;
}

@mixin util__color--light-purple {
  color: $color-light-purple;
}

@mixin util__color--light-blue {
  color: $color-light-blue;
}

@mixin util__color--light-green {
  color: $color-light-green;
}

@mixin util__color--light-yellow {
  color: $color-light-yellow;
}

@mixin util__color--light-orange {
  color: $color-light-orange;
}

@mixin util__color--light-brown {
  color: $color-light-brown;
}

@mixin util__color--light-grey {
  color: $color-light-grey;
}

@mixin util__color--lighter-red {
  color: $color-lighter-red;
}

@mixin util__color--lighter-pink {
  color: $color-lighter-pink;
}

@mixin util__color--lighter-purple {
  color: $color-lighter-purple;
}

@mixin util__color--lighter-blue {
  color: $color-lighter-blue;
}

@mixin util__color--lighter-green {
  color: $color-lighter-green;
}

@mixin util__color--lighter-yellow {
  color: $color-lighter-yellow;
}

@mixin util__color--lighter-orange {
  color: $color-lighter-orange;
}

@mixin util__color--lighter-brown {
  color: $color-lighter-brown;
}

@mixin util__color--lighter-grey {
  color: $color-lighter-grey;
}
