@import "settings.global";

@mixin no-overflow {
  overflow: hidden;
}

@mixin letter-box--super {
  padding-top: $spacing-super;
  padding-bottom: $spacing-super;
}

@mixin letter-box--xlarge {
  padding-top: $spacing-xlarge;
  padding-bottom: $spacing-xlarge;
}

@mixin letter-box--large {
  padding-top: $spacing-large;
  padding-bottom: $spacing-large;
}

@mixin letter-box--medium {
  padding-top: $spacing-medium;
  padding-bottom: $spacing-medium;
}

@mixin letter-box--small {
  padding-top: $spacing-small;
  padding-bottom: $spacing-small;
}

@mixin letter-box--xsmall {
  padding-top: $spacing-xsmall;
  padding-bottom: $spacing-xsmall;
}

@mixin letter-box--tiny {
  padding-top: $spacing-tiny;
  padding-bottom: $spacing-tiny;
}

@mixin letter-box--none {
  padding-top: 0;
  padding-bottom: 0;
}

@mixin pillar-box--super {
  padding-right: $spacing-super;
  padding-left: $spacing-super;
}

@mixin pillar-box--xlarge {
  padding-right: $spacing-xlarge;
  padding-left: $spacing-xlarge;
}

@mixin pillar-box--large {
  padding-right: $spacing-large;
  padding-left: $spacing-large;
}

@mixin pillar-box--medium {
  padding-right: $spacing-medium;
  padding-left: $spacing-medium;
}

@mixin pillar-box--small {
  padding-right: $spacing-small;
  padding-left: $spacing-small;
}

@mixin pillar-box--xsmall {
  padding-right: $spacing-xsmall;
  padding-left: $spacing-xsmall;
}

@mixin pillar-box--tiny {
  padding-right: $spacing-tiny;
  padding-left: $spacing-tiny;
}

@mixin pillar-box--none {
  padding-right: 0;
  padding-left: 0;
}

@mixin window-box--super {
  @include letter-box--super;
  @include pillar-box--super;
}

@mixin window-box--xlarge {
  @include letter-box--xlarge;
  @include pillar-box--xlarge;
}

@mixin window-box--large {
  @include letter-box--large;
  @include pillar-box--large;
}

@mixin window-box--medium {
  @include letter-box--medium;
  @include pillar-box--medium;
}

@mixin window-box--small {
  @include letter-box--small;
  @include pillar-box--small;
}

@mixin window-box--xsmall {
  @include letter-box--xsmall;
  @include pillar-box--xsmall;
}

@mixin window-box--tiny {
  @include letter-box--tiny;
  @include pillar-box--tiny;
}

@mixin window-box--none {
  @include letter-box--none;
  @include pillar-box--none;
}
