@import "vars";
@import "boxing";

@mixin u-bubble--link {
  content: attr(href);
  display: none;
  position: absolute;
  @include window-box--xsmall;
  margin: -($spacing-xsmall) $spacing-xsmall;
  color: $color-black;
  background-color: $color-lighter-blue;
}

@mixin u-bubble--link--hover {
  display: inline-block;
}

@mixin u-highlight-outline {
  border: 1px solid $color-pink;
  * {
    border: 1px solid $color-purple;
  }
}

@mixin u-color--black {
  color: $color-black;
}

@mixin u-color--white {
  color: $color-white;
}

@mixin u-color--red {
  color: $color-red;
}

@mixin u-color--pink {
  color: $color-pink;
}

@mixin u-color--purple {
  color: $color-purple;
}

@mixin u-color--blue {
  color: $color-blue;
}

@mixin u-color--green {
  color: $color-green;
}

@mixin u-color--yellow {
  color: $color-yellow;
}

@mixin u-color--orange {
  color: $color-orange;
}

@mixin u-color--brown {
  color: $color-brown;
}

@mixin u-color--grey {
  color: $color-grey;
}

@mixin u-color--dark-red {
  color: $color-dark-red;
}

@mixin u-color--dark-pink {
  color: $color-dark-pink;
}

@mixin u-color--dark-purple {
  color: $color-dark-purple;
}

@mixin u-color--dark-blue {
  color: $color-dark-blue;
}

@mixin u-color--dark-green {
  color: $color-dark-green;
}

@mixin u-color--dark-yellow {
  color: $color-dark-yellow;
}

@mixin u-color--dark-orange {
  color: $color-dark-orange;
}

@mixin u-color--dark-brown {
  color: $color-dark-brown;
}

@mixin u-color--dark-grey {
  color: $color-dark-grey;
}

@mixin u-color--darker-red {
  color: $color-darker-red;
}

@mixin u-color--darker-pink {
  color: $color-darker-pink;
}

@mixin u-color--darker-purple {
  color: $color-darker-purple;
}

@mixin u-color--darker-blue {
  color: $color-darker-blue;
}

@mixin u-color--darker-green {
  color: $color-darker-green;
}

@mixin u-color--darker-yellow {
  color: $color-darker-yellow;
}

@mixin u-color--darker-orange {
  color: $color-darker-orange;
}

@mixin u-color--darker-brown {
  color: $color-darker-brown;
}

@mixin u-color--darker-grey {
  color: $color-darker-grey;
}

@mixin u-color--light-red {
  color: $color-light-red;
}

@mixin u-color--light-pink {
  color: $color-light-pink;
}

@mixin u-color--light-purple {
  color: $color-light-purple;
}

@mixin u-color--light-blue {
  color: $color-light-blue;
}

@mixin u-color--light-green {
  color: $color-light-green;
}

@mixin u-color--light-yellow {
  color: $color-light-yellow;
}

@mixin u-color--light-orange {
  color: $color-light-orange;
}

@mixin u-color--light-brown {
  color: $color-light-brown;
}

@mixin u-color--light-grey {
  color: $color-light-grey;
}

@mixin u-color--lighter-red {
  color: $color-lighter-red;
}

@mixin u-color--lighter-pink {
  color: $color-lighter-pink;
}

@mixin u-color--lighter-purple {
  color: $color-lighter-purple;
}

@mixin u-color--lighter-blue {
  color: $color-lighter-blue;
}

@mixin u-color--lighter-green {
  color: $color-lighter-green;
}

@mixin u-color--lighter-yellow {
  color: $color-lighter-yellow;
}

@mixin u-color--lighter-orange {
  color: $color-lighter-orange;
}

@mixin u-color--lighter-brown {
  color: $color-lighter-brown;
}

@mixin u-color--lighter-grey {
  color: $color-lighter-grey;
}

@mixin u-color--success {
  color: $color-success;
}

@mixin u-color--error {
  color: $color-error;
}

@mixin u-color--primary {
  color: $color-primary;
}

@mixin u-color--secondary {
  color: $color-secondary;
}

@mixin u-bg--black {
  background-color: $color-black;
}

@mixin u-bg--white {
  background-color: $color-white;
}

@mixin u-bg--red {
  background-color: $color-red;
}

@mixin u-bg--pink {
  background-color: $color-pink;
}

@mixin u-bg--purple {
  background-color: $color-purple;
}

@mixin u-bg--blue {
  background-color: $color-blue;
}

@mixin u-bg--green {
  background-color: $color-green;
}

@mixin u-bg--yellow {
  background-color: $color-yellow;
}

@mixin u-bg--orange {
  background-color: $color-orange;
}

@mixin u-bg--brown {
  background-color: $color-brown;
}

@mixin u-bg--grey {
  background-color: $color-grey;
}

@mixin u-bg--dark-red {
  background-color: $color-dark-red;
}

@mixin u-bg--dark-pink {
  background-color: $color-dark-pink;
}

@mixin u-bg--dark-purple {
  background-color: $color-dark-purple;
}

@mixin u-bg--dark-blue {
  background-color: $color-dark-blue;
}

@mixin u-bg--dark-green {
  background-color: $color-dark-green;
}

@mixin u-bg--dark-yellow {
  background-color: $color-dark-yellow;
}

@mixin u-bg--dark-orange {
  background-color: $color-dark-orange;
}

@mixin u-bg--dark-brown {
  background-color: $color-dark-brown;
}

@mixin u-bg--dark-grey {
  background-color: $color-dark-grey;
}

@mixin u-bg--darker-red {
  background-color: $color-darker-red;
}

@mixin u-bg--darker-pink {
  background-color: $color-darker-pink;
}

@mixin u-bg--darker-purple {
  background-color: $color-darker-purple;
}

@mixin u-bg--darker-blue {
  background-color: $color-darker-blue;
}

@mixin u-bg--darker-green {
  background-color: $color-darker-green;
}

@mixin u-bg--darker-yellow {
  background-color: $color-darker-yellow;
}

@mixin u-bg--darker-orange {
  background-color: $color-darker-orange;
}

@mixin u-bg--darker-brown {
  background-color: $color-darker-brown;
}

@mixin u-bg--darker-grey {
  background-color: $color-darker-grey;
}

@mixin u-bg--light-red {
  background-color: $color-light-red;
}

@mixin u-bg--light-pink {
  background-color: $color-light-pink;
}

@mixin u-bg--light-purple {
  background-color: $color-light-purple;
}

@mixin u-bg--light-blue {
  background-color: $color-light-blue;
}

@mixin u-bg--light-green {
  background-color: $color-light-green;
}

@mixin u-bg--light-yellow {
  background-color: $color-light-yellow;
}

@mixin u-bg--light-orange {
  background-color: $color-light-orange;
}

@mixin u-bg--light-brown {
  background-color: $color-light-brown;
}

@mixin u-bg--light-grey {
  background-color: $color-light-grey;
}

@mixin u-bg--lighter-red {
  background-color: $color-lighter-red;
}

@mixin u-bg--lighter-pink {
  background-color: $color-lighter-pink;
}

@mixin u-bg--lighter-purple {
  background-color: $color-lighter-purple;
}

@mixin u-bg--lighter-blue {
  background-color: $color-lighter-blue;
}

@mixin u-bg--lighter-green {
  background-color: $color-lighter-green;
}

@mixin u-bg--lighter-yellow {
  background-color: $color-lighter-yellow;
}

@mixin u-bg--lighter-orange {
  background-color: $color-lighter-orange;
}

@mixin u-bg--lighter-brown {
  background-color: $color-lighter-brown;
}

@mixin u-bg--lighter-grey {
  background-color: $color-lighter-grey;
}

@mixin u-bg--success {
  background-color: $color-success;
}

@mixin u-bg--error {
  background-color: $color-error;
}

@mixin u-bg--primary {
  background-color: $color-primary;
}

@mixin u-bg--secondary {
  background-color: $color-secondary;
}
