nav.c-nav,
.c-nav[role='navigation'] {
  z-index: var(--z-over-page);
  width: 280px;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  color: #fff;
  background-color: #000;

  &.c-nav--left {
    position: fixed;
    top: 0;
    right: auto;
    bottom: 0;
    left: 0;
  }

  &.c-nav--right {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
  }

  .c-nav__item,
  .c-nav__content {
    display: block;
    height: 3.5em;
    padding: 0 var(--spacing-medium);
    color: inherit;
    line-height: 3.5em;

    .o-image {
      height: 100%;
    }
  }

  .c-nav__item {
    --nav-background-color: var(--color-default);

    text-decoration: none;

    &:hover,
    &--active {
      color: var(--nav-color);
      background-color: var(--nav-background-color);
    }

    &:focus {
      box-shadow: var(--box-shadow-focus);
    }

    &:active {
      filter: brightness(0.95);
    }
  }

  .c-nav__item--brand {
    --nav-background-color: var(--color-brand);
  }

  .c-nav__item--info {
    --nav-background-color: var(--color-info);
  }

  .c-nav__item--warning {
    --nav-color: #000;
    --nav-background-color: var(--color-warning);
  }

  .c-nav__item--success {
    --nav-background-color: var(--color-success);
  }

  .c-nav__item--error {
    --nav-background-color: var(--color-error);
  }
}
