.c-tags {
  position: relative;
  width: 100%;
  text-align: left;
}

.c-tags .c-card--menu {
  position: absolute;
  width: 100%;
}

.c-tags__container {
  display: inline-block;
  max-width: 70%;
  padding-right: var(--spacing-xsmall);
}

.c-tag {
  position: relative;
  display: inline-block;
  max-width: 70%;
  margin: var(--spacing-tiny);
  padding: var(--spacing-small) var(--spacing-large) var(--spacing-small) var(--spacing-small);
}

.c-tag__close {
  position: absolute;
  top: 7px;
  right: 5px;
  color: #fff;
  font-weight: var(--text-font-weight-heavy);
}

.c-tags__field-container {
  position: absolute;
  display: inline-block;
  width: 30%;
  margin: var(--spacing-tiny);
}
