@import 'mixins/components.buttons';

.c-tree[role='tree'] {
  display: block;
  margin: 0;
  padding: 0;

  .c-tree[role='tree'] {
    padding: 0 0 0 var(--spacing-medium);
  }
}

.c-tree__item[role='treeitem'] {
  @include button-nude;
  display: block;
  margin: var(--spacing-small);
  padding: 0;
  white-space: nowrap;

  &::before {
    display: inline-block;
    padding: 0 var(--spacing-small) 0 0;
    color: var(--color-default);
    transform-origin: 30% 50%;
    content: '–';
  }

  + .c-tree[role='tree'] {
    display: none;
  }
}

.c-tree__item[aria-expanded] {
  &::before {
    content: '\276F';
  }
}

.c-tree__item[aria-expanded='true'] {
  &::before {
    transform: rotate(90deg);
    content: '\276F';
  }

  + .c-tree[role='tree'] {
    display: block;
  }
}
