@import 'mixins/utilities.states';
@import 'mixins/utilities.visibility';

@mixin link--color {
  @include disabled;
  color: var(--color-link);
  background-color: transparent;

  &:not(:disabled) {
    &:visited {
      opacity: 0.9;
    }

    &:hover {
      background-color: transparent;
      opacity: 0.9;
    }

    &:active {
      background-color: transparent;
      opacity: 0.8;
    }
  }
}

a.c-link,
.c-link[role='link'] {
  @include link--color;

  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  .c-link--skip {
    @include visually-hidden;

    top: 0;
    left: 0;
    z-index: var(--z-over-everything);

    &:active,
    &:focus {
      width: auto;
      height: auto;
      overflow: auto;
      clip-path: none;
    }
  }

  &.c-link--brand {
    --color-link: var(--color-brand);
  }

  &.c-link--info {
    --color-link: var(--color-info);
  }

  &.c-link--warning {
    --color-link: var(--color-warning);
  }

  &.c-link--success {
    --color-link: var(--color-success);
  }

  &.c-link--error {
    --color-link: var(--color-error);
  }
}
