@import 'mixins/components.inputs';

.o-field {
  position: relative;

  .c-icon[aria-hidden] {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &.o-field--autocomplete {
    position: relative;

    .c-card--menu {
      position: absolute;
    }
  }
}

.o-field--icon-right {
  .c-field + .c-icon {
    right: var(--spacing-small);
  }

  .c-field {
    padding-right: calc(var(--spacing-small) * 4);
  }
}

.o-field--icon-left {
  .c-icon:first-child {
    left: var(--spacing-small);
  }

  .c-field {
    padding-left: calc(var(--spacing-small) * 4);
  }
}

.c-fieldset,
.c-fieldset.c-list {
  display: block;
  width: 100%;
  margin: var(--spacing-small) 0;
  padding: 0;
  border: 0;
}

.c-fieldset__legend {
  @include label;
  padding: var(--spacing-xsmall) 0;
}

// LABELS
.c-label {
  @include label;
}

// TEXT FIELDS
.c-field {
  @include disabled;
  display: block;
  width: 100%;
  margin: 0;
  padding: var(--spacing-small);
  font-weight: var(--text-font-weight);
  font-size: var(--text-font-size-medium);
  font-family: inherit;
  background-color: #fff;
  border: var(--border-width) var(--border-style) var(--border-color);
  border-radius: var(--border-radius);
  outline: 0;
  appearance: none;

  &:focus {
    border-color: var(--border-color-focus);
    box-shadow: var(--box-shadow-focus);
  }
}

// SELECTS, CHECKBOXES AND RADIOS
select.c-field {
  &::-ms-expand {
    display: none;
  }
}

// SELECTS
select.c-field:not([multiple]) {
  padding-right: 1em;
  background-image: url('data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==');
  background-repeat: no-repeat;
  background-position: 99% 50%;
}

// CHECKBOXES and RADIOs
.c-field input {
  @include disabled;
  margin-right: var(--spacing-tiny);
  font-size: var(--text-font-size-medium);
  outline: 0;
}

.c-field--label {
  margin: var(--spacing-small) 0 0 0;
}

.c-field--error {
  color: var(--color-error);
  border-color: var(--color-error);
}

.c-field--success {
  color: var(--color-success);
  border-color: var(--color-success);
}

.c-field--choice {
  background-color: transparent;
  border: 0;
  border-radius: 0;

  input {
    margin: 0;
  }
}
