@import 'mixins/components.buttons';

nav.c-pagination,
.c-pagination[role='navigation'] {
  display: flex;
  width: 100%;
  padding: var(--spacing-medium);
  font-size: var(--text-font-size-medium);
  text-align: center;
}

.c-pagination__pages {
  display: flex;
  flex: 1 0 auto;
  justify-content: center;

  .c-pagination__control {
    margin: 0 0.2em;
  }
}

.c-pagination__control {
  --button-color: var(--color-brand);

  @include button;
  @include button-ghost;

  flex: 0 0 auto;
  min-width: 2.4em;
  border-radius: var(--border-radius-rounded);
}
