.c-breadcrumbs {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.c-breadcrumbs__crumb {
  display: inline-block;
  width: auto;
  padding: 0;

  &:not([aria-current]) {
    ::after {
      padding: 0 var(--spacing-small);
      color: var(--color-default);
      content: '/';
    }
  }

  &[aria-current] {
    font-weight: var(--text-font-weight-heavy);
  }
}
