.c-hint[role='tooltip'] {
  position: absolute;
  padding: var(--spacing-tiny) 0;
  color: var(--color-default);
  font-size: var(--text-font-size-medium);
  transform: scale(0.8);
  transform-origin: top left;
  opacity: 0;
  pointer-events: none;

  &.c-hint--static {
    transform: scale(0.9);
    opacity: 1;
  }
}

.c-field:focus ~ .c-hint,
.c-label__field:focus ~ .c-hint {
  transform: scale(0.9);
  opacity: 1;
}
