.o-panel-container {
  position: relative;
}

.o-panel {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.c-card__body .o-panel {
  padding: var(--spacing-small);
}
