@import 'mixins/tools.mediaqueries';

@mixin responsive-container($screen-width) {
  @each $size, $width in $screen-limits {
    &--#{$size}\@#{$screen-width} {
      max-width: $width;
    }
  }
}

.o-container {
  @include screen-and-up(xsmall) {
    @include responsive-container(xsmall);
  }
  @include screen-and-up(small) {
    @include responsive-container(small);
  }
  @include screen-and-up(medium) {
    @include responsive-container(medium);
  }
  @include screen-and-up(large) {
    @include responsive-container(large);
  }
  @include screen-and-up(xlarge) {
    @include responsive-container(xlarge);
  }
  @include screen-and-up(super) {
    @include responsive-container(super);
  }

  margin: auto;
  @each $size, $width in $screen-limits {
    &--#{$size} {
      max-width: $width;
    }
  }
}
