@import 'mixins/objects.grid';

aside.o-drawer {
  position: fixed;
  z-index: var(--z-over-everything);
  overflow-x: hidden;
  overflow-y: auto;
  color: inherit;
  background-color: var(--color-background);
  visibility: hidden;
  -webkit-overflow-scrolling: touch;

  .c-card {
    background-color: transparent;
    box-shadow: none;
  }

  &:not(.o-drawer--visible) {
    &.u-high,
    &.u-higher,
    &.u-highest {
      box-shadow: none;
    }
  }

  &.o-drawer--bottom,
  &.o-drawer--top {
    left: 0;
    width: 80%;
    height: auto;
    margin-left: 10%;
    transform: translate(0, 0);
  }

  &.o-drawer--bottom {
    top: 100%;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
  }

  &.o-drawer--bottom.o-drawer--visible {
    transform: translateY(-99%);
  }

  &.o-drawer--top {
    bottom: 100%;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
  }

  &.o-drawer--top.o-drawer--visible {
    transform: translateY(99%);
  }

  &.o-drawer--left,
  &.o-drawer--right {
    top: 0;
    width: 260px;
    height: 100%;

    .c-card__footer--block {
      position: absolute;
      bottom: 0;
      width: 100%;

      .c-button {
        border-radius: 0;
      }
    }
  }

  &.o-drawer--left {
    left: 0;
    transform: translateX(-100%);
  }

  &.o-drawer--left.o-drawer--visible {
    transform: translateX(-1%);
  }

  &.o-drawer--right {
    left: 100%;
    transform: translate(0, 0);
  }

  &.o-drawer--right.o-drawer--visible {
    transform: translateX(-99%);
  }

  &.o-drawer--visible {
    visibility: visible;
  }
}
