.u-letter-box-super {
  padding-top: var(--spacing-super) !important;
  padding-bottom: var(--spacing-super) !important;
}

.u-letter-box-xlarge {
  padding-top: var(--spacing-xlarge) !important;
  padding-bottom: var(--spacing-xlarge) !important;
}

.u-letter-box-large {
  padding-top: var(--spacing-large) !important;
  padding-bottom: var(--spacing-large) !important;
}

.u-letter-box-medium {
  padding-top: var(--spacing-medium) !important;
  padding-bottom: var(--spacing-medium) !important;
}

.u-letter-box-small {
  padding-top: var(--spacing-small) !important;
  padding-bottom: var(--spacing-small) !important;
}

.u-letter-box-xsmall {
  padding-top: var(--spacing-xsmall) !important;
  padding-bottom: var(--spacing-xsmall) !important;
}

.u-letter-box-tiny {
  padding-top: var(--spacing-tiny) !important;
  padding-bottom: var(--spacing-tiny) !important;
}

.u-letter-box-none {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.u-pillar-box-super {
  padding-right: var(--spacing-super) !important;
  padding-left: var(--spacing-super) !important;
}

.u-pillar-box-xlarge {
  padding-right: var(--spacing-xlarge) !important;
  padding-left: var(--spacing-xlarge) !important;
}

.u-pillar-box-large {
  padding-right: var(--spacing-large) !important;
  padding-left: var(--spacing-large) !important;
}

.u-pillar-box-medium {
  padding-right: var(--spacing-medium) !important;
  padding-left: var(--spacing-medium) !important;
}

.u-pillar-box-small {
  padding-right: var(--spacing-small) !important;
  padding-left: var(--spacing-small) !important;
}

.u-pillar-box-xsmall {
  padding-right: var(--spacing-xsmall) !important;
  padding-left: var(--spacing-xsmall) !important;
}

.u-pillar-box-tiny {
  padding-right: var(--spacing-tiny) !important;
  padding-left: var(--spacing-tiny) !important;
}

.u-pillar-box-none {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.u-window-box-super {
  padding: var(--spacing-super) !important;
}

.u-window-box-xlarge {
  padding: var(--spacing-xlarge) !important;
}

.u-window-box-large {
  padding: var(--spacing-large) !important;
}

.u-window-box-medium {
  padding: var(--spacing-medium) !important;
}

.u-window-box-small {
  padding: var(--spacing-small) !important;
}

.u-window-box-xsmall {
  padding: var(--spacing-xsmall) !important;
}

.u-window-box-tiny {
  padding: var(--spacing-tiny) !important;
}

.u-window-box-none {
  padding: 0 !important;
}
