@import 'mixins/utilities.alignment';

.u-centered {
  @include centered;
}

.u-justified {
  @include justified;
}

.u-left {
  @include left;
}

.u-right {
  @include right;
}

.u-center-block {
  @include center-block;
}

.u-center-block__content,
.u-absolute-center {
  @include center-block__content;
}

.u-center-block__content--vertical {
  @include center-block__content--vertical;
}

.u-center-block__content--horizontal {
  @include center-block__content--horizontal;
}
