:root {
  /* Screen widths */

  --screen-limit-xsmall: 20em;
  --screen-limit-small: 30em;
  --screen-limit-medium: 48em;
  --screen-limit-large: 64em;
  --screen-limit-xlarge: 78em;
  --screen-limit-super: 116em;

  /* Spacing */

  --spacing-super: 3em;
  --spacing-xlarge: 2em;
  --spacing-large: 1.5em;
  --spacing-medium: 1em;
  --spacing-small: 0.5em;
  --spacing-xsmall: 0.25em;
  --spacing-tiny: 0.125em;

  /* Grid */

  --grid-gutter: 1em;

  /* Colors */

  --color-default: #74748c;
  --color-quiet: #a6a6bf;
  --color-text: #000;
  --color-dark: #eee;
  --color-background: #f9f9f9;
  --color-light: #fdfdfd;
  --color-link: #4267ff;
  --color-outline: #4267ff;
  --color-brand: #2c3e50;
  --color-info: #4267ff;
  --color-warning: #ffa500;
  --color-success: #088a05;
  --color-error: #ee0202;
  --color-highlight: #ffef14;
  --color-disabled: var(--color-default);
  --color-disabled-background: #f2f2f4;
  --color-transparent: transparent;

  /* Borders */

  --border-width: 1px;
  --border-style: solid;
  --border-color: var(--color-default);
  --border-radius: 4px;
  --border-radius-rounded: 30em;

  /* Box shadows */

  --box-shadow: 0 0 1px rgba(#000, 0.6);
  --box-shadow-high: 0 5px 10px -3px rgba(0, 0, 0, 0.4);
  --box-shadow-higher: 0 10px 25px -4px rgba(0, 0, 0, 0.4);
  --box-shadow-highest: 0 20px 55px -8px rgba(0, 0, 0, 0.4);

  /* Focus styles */

  --border-color-focus: var(--color-outline);
  --box-shadow-focus: inset 0 0 0 1px var(--color-outline);

  /* Disabled */

  --disabled-opacity: 0.5;

  /* Z Indexes */

  --z-over-content: 100;
  --z-over-control: 200;
  --z-over-page: 300;
  --z-over-screen: 400;
  --z-over-everything: 500;

  /* Typography */

  --text-font-family-sans-serif: sans-serif;
  --text-font-family-serif: serif;
  --text-font-family-mono: monospace;
  --text-font-family: var(--text-font-family-sans-serif);
  --text-font-size-super: 2em;
  --text-font-size-xlarge: 1.5em;
  --text-font-size-large: 1.25em;
  --text-font-size-medium: 1em;
  --text-font-size-small: 0.8em;
  --text-font-size-xsmall: 0.67em;
  --text-font-weight: normal;
  --text-font-weight-heavy: bold;
  --text-line-height: 1.55;
}
