@import 'mixins/settings';

.c-tooltip {
  position: relative;
  overflow: visible;

  &::before,
  &::after {
    z-index: $z-over-page;
    visibility: hidden;
  }

  &::before {
    position: absolute;
    border: $tooltip-arrow-width solid transparent;
    content: '';
  }

  &::after {
    position: absolute;
    padding: 0.25em 0.5em;
    color: $tooltip-body-color;
    line-height: $tooltip-line-height;
    white-space: nowrap;
    background-color: $tooltip-body-background-color;
    border: $tooltip-body-border-width $tooltip-body-border-style $tooltip-body-border-color;
    border-radius: $border-radius;
    content: attr(aria-label);
    visibility: hidden;
  }

  &:hover::before,
  &:hover::after {
    visibility: visible;
  }
}

.c-tooltip--top {
  &::before {
    top: 0%;
    left: 50%;
    border-top-color: $tooltip-body-border-color;
    transform: translate(-50%, -1em);
  }

  &::after {
    top: 0%;
    left: 50%;
    transform: translate(-50%, -3em);
  }
}

.c-tooltip--right {
  &::before {
    top: 50%;
    left: 100%;
    border-right-color: $tooltip-body-border-color;
    transform: translate(0, -50%);
  }

  &::after {
    top: 50%;
    left: 100%;
    transform: translate(1em, -50%);
  }
}

.c-tooltip--bottom {
  &::before {
    bottom: 0;
    left: 50%;
    border-bottom-color: $tooltip-body-border-color;
    transform: translate(-50%, 1em);
  }

  &::after {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 3em);
  }
}

.c-tooltip--left {
  &::before {
    top: 50%;
    right: 100%;
    border-left-color: $tooltip-body-border-color;
    transform: translate(0, -50%);
  }

  &::after {
    top: 50%;
    right: 100%;
    transform: translate(-1em, -50%);
  }
}
