@import 'mixins/components.progress';

.c-progress {
  display: block;
  overflow: hidden;
  color: $progress-bar-color;
  text-align: center;
  background-color: $progress-background-color;
  border: $progress-border;
  border-radius: $progress-border-radius;

  &.c-progress--rounded {
    border-radius: $progress-rounded-border-radius;
  }

  .c-progress__bar[role='progressbar'] {
    @include progress--color;
    display: block;
    float: left;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-radius: 0;

    &::after {
      color: transparent !important;
      content: '-';
    }

    &.c-progress__bar--brand {
      @include progress--color($progress-bar-brand-background-color, $progress-bar-brand-color);
    }

    &.c-progress__bar--info {
      @include progress--color($progress-bar-info-background-color, $progress-bar-info-color);
    }

    &.c-progress__bar--warning {
      @include progress--color($progress-bar-warning-background-color, $progress-bar-warning-color);
    }

    &.c-progress__bar--success {
      @include progress--color($progress-bar-success-background-color, $progress-bar-success-color);
    }

    &.c-progress__bar--error {
      @include progress--color($progress-bar-error-background-color, $progress-bar-error-color);
    }
  }
}
