@import 'mixins/settings';

.c-back-to-top {
  position: fixed;
  right: $back-to-top-spacing;
  bottom: $back-to-top-spacing;
  z-index: $back-to-top-z-index;

  &.c-back-to-top--left {
    right: auto;
    left: $back-to-top-spacing;
  }

  &.c-back-to-top--center {
    right: auto;
    left: 50%;
    transform: translateX(-50%);
  }
}
