@import 'mixins/settings';
@import 'mixins/components.buttons';

@mixin tab-heading($border-color: $tab-heading-border-color) {
  @include button-nude;
  display: block;
  flex: 1;
  margin: $tab-heading-margin;
  padding: $tab-heading-padding;
  white-space: nowrap;
  border-bottom: $spacing-xsmall solid $tab-heading-inactive-border-color;
  border-radius: $tab-heading-border-radius;

  &:not(:disabled):not(.c-tab-heading--active):hover {
    border-bottom-color: lighten($border-color, $color-tint);
  }

  &.c-tab-heading--active {
    background-color: $tab-heading-background-color;
    border-bottom-color: $border-color;
  }
}

.c-tabs[role='tablist'] {
  display: block;
}

.c-tabs__headings {
  display: flex;
  text-align: $tab-headings-text-align;
}

.c-tabs__nav {
  overflow: hidden;

  .c-tabs__headings {
    margin-bottom: -1em;
    padding-bottom: 1em;
    overflow-x: auto;
    overflow-y: hidden;
  }
}

.c-tab-heading[role='tab'] {
  @include tab-heading;

  &.c-tab-heading--brand {
    @include tab-heading($tab-heading-brand-border-color);
  }

  &.c-tab-heading--info {
    @include tab-heading($tab-heading-info-border-color);
  }

  &.c-tab-heading--warning {
    @include tab-heading($tab-heading-warning-border-color);
  }

  &.c-tab-heading--success {
    @include tab-heading($tab-heading-success-border-color);
  }

  &.c-tab-heading--error {
    @include tab-heading($tab-heading-error-border-color);
  }
}

.c-tabs__tab[role='tabpanel'] {
  padding: $tab-padding;
}
