@import 'mixins/settings';
@import 'mixins/components.buttons';

nav.c-pagination,
.c-pagination[role='navigation'] {
  display: flex;
  width: 100%;
  padding: $pagination-padding;
  font-size: $pagination-font-size;
  text-align: center;
}

.c-pagination__pages {
  display: flex;
  flex: 1 0 auto;
  justify-content: center;

  .c-pagination__control {
    margin: 0 0.2em;
  }
}

.c-pagination__control {
  @include button;
  @include button-ghost($pagination-control-color);
  flex: 0 0 auto;
  min-width: 2.4em;
  border-radius: $pagination-control-border-radius;

  &[aria-current] {
    color: $pagination-page-current-color;
    background-color: $pagination-page-current-background-color;
  }
}
