@import 'mixins/settings';
@import 'mixins/components.buttons';

.c-tree[role='tree'] {
  display: block;
  margin: $tree-margin;
  padding: $tree-padding;

  .c-tree[role='tree'] {
    padding: $tree-nested-padding;
  }
}

.c-tree__item[role='treeitem'] {
  @include button-nude;
  display: block;
  margin: $tree-item-margin;
  padding: $tree-item-padding;
  white-space: nowrap;

  &::before {
    display: inline-block;
    padding: $tree-item-indicator-padding;
    color: $tree-item-indicator-color;
    transform-origin: 30% 50%;
    content: '–';
  }

  + .c-tree[role='tree'] {
    display: none;
  }
}

.c-tree__item[aria-expanded] {
  &::before {
    color: $tree-item-expandable-indicator-color;
    content: '\276F';
  }
}

.c-tree__item[aria-expanded='true'] {
  &::before {
    color: $tree-item-expanded-indicator-color;
    transform: rotate(90deg);
    content: '\276F';
  }

  + .c-tree[role='tree'] {
    display: block;
  }
}
