@import 'mixins/settings';

@mixin highlight($color: $highlight-color, $background-color: $highlight-background-color) {
  margin: 0 -$spacing-tiny;
  padding: $spacing-xsmall $spacing-xsmall $spacing-tiny;
  color: $color !important;
  background-color: $background-color !important;
}

@mixin gradient-text($from, $to) {
  background-image: linear-gradient(135deg, map-get($colors, $from), map-get($colors, $to));
}

@mixin paragraph {
  display: block;
  margin: 0;
  padding: $spacing-small 0;
}

@mixin code($color: $code-color, $background-color: $code-background-color) {
  @include highlight($color, $background-color);
  display: inline;
  font-weight: $text-font-weight !important;
  font-family: $text-font-family-mono !important;
}

@mixin quotation--color($border-color: $quotation-border-color) {
  border-left: $quotation-border-width $quotation-border-style $border-color !important;
}

.u-text {
  color: $text-color;
  font-weight: $text-font-weight;
  font-family: $text-font-family;
  line-height: $text-line-height;
  direction: ltr;
  text-align: left;
}

.u-text--rtl {
  direction: rtl;
  text-align: right;
}

.u-text--mono {
  font-family: $text-font-family-mono !important;
}

.u-text--highlight {
  @include highlight;
}

.u-text--quiet {
  color: map-get($colors, quiet) !important;
}

.u-text--loud {
  font-weight: $text-font-weight-heavy !important;
}

.u-text--normal {
  font-weight: normal;
}

.u-text--italic {
  font-style: italic;
}

.u-text--help[title] {
  text-decoration: none !important;
  border-bottom: $help-border-bottom !important;
  cursor: help !important;
}

.u-pre {
  margin: 0;
}

.u-code {
  @include code;
}

.u-code--multiline {
  display: block;
  padding: $spacing-small $spacing-medium;
  overflow-x: auto !important;
  white-space: pre !important;
  word-wrap: normal !important;
  border-radius: $border-radius;
}

.u-kbd {
  @include code($keyboard-color, $keyboard-background-color);
  border-bottom: $keyboard-border;
  border-radius: $keyboard-border-radius;
}

.u-blockquote {
  @include quotation--color;
  display: block;
  margin: $quotation-margin;
  padding: $quotation-padding;
  font-family: $quotation-font-family !important;
}

.u-blockquote--brand {
  @include quotation--color($quotation-brand-border-color);
}

.u-blockquote--info {
  @include quotation--color($quotation-info-border-color);
}

.u-blockquote--warning {
  @include quotation--color($quotation-warning-border-color);
}

.u-blockquote--success {
  @include quotation--color($quotation-success-border-color);
}

.u-blockquote--error {
  @include quotation--color($quotation-error-border-color);
}

.u-blockquote__body {
  @include paragraph;
  font-size: $quotation-font-size;
}

.u-blockquote__footer {
  @include paragraph;
  color: $quotation-footer-color !important;
  font-style: $quotation-footer-font-style !important;
}

.u-paragraph {
  @include paragraph;
}

.u-gradient-text {
  display: inline-block;
  color: transparent;
  background-clip: text;
  @include gradient-text(blue, purple);

  &--info {
    @include gradient-text(info-light-2, info-dark-2);
  }

  &--warning {
    @include gradient-text(orange, red);
  }

  &--success {
    @include gradient-text(green, blue);
  }

  &--error {
    @include gradient-text(red, purple);
  }
}
