@import 'mixins/components.cards';
@import 'mixins/utilities.visibility';

.c-card {
  display: block;
  width: 100%;
  padding: $card-padding;
  border-radius: $card-border-radius;
  background-color: $card-background-color;
  box-shadow: $card-box-shadow;
  overflow: hidden;

  > .o-image:not(:first-child) {
    padding: $spacing-medium 0 0;
  }
}

.c-card + .c-card {
  margin: $card-margin;
}

.c-card__header {
  padding: $card-header-padding;

  .c-heading {
    padding: 0;
  }
}

.c-card__body {
  padding: $card-body-padding;
}

.c-card__footer {
  padding: $card-footer-padding;
}

.c-card__item + .c-card__footer--block {
  padding: 0;
}

.c-card__footer--block {
  padding: $card-footer-block-padding;

  .c-input-group .c-button {
    border-bottom: 0;
  }

  .c-input-group .c-button:first-child {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .c-input-group .c-button:last-child {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.c-card--grouped {
  .c-card__item {
    &:not(:last-child) {
      border-bottom: 0;
    }
  }
}

.c-card__divider[role='separator'] {
  height: $card-item-border-width;
  background-color: $card-item-divider-background-color;
  overflow: hidden;
}

.c-card__item {
  @include card-item;

  &--divider[role='separator'] {
    @include card-item($card-item-divider-background-color, $card-item-divider-color);

    font-weight: $card-item-divider-font-weight;
  }

  &--brand {
    @include card-item($card-item-brand-background-color, $card-item-brand-color);
  }

  &--info {
    @include card-item($card-item-info-background-color, $card-item-info-color);
  }

  &--warning {
    @include card-item($card-item-warning-background-color, $card-item-warning-color);
  }

  &--success {
    @include card-item($card-item-success-background-color, $card-item-success-color);
  }

  &--error {
    @include card-item($card-item-error-background-color, $card-item-error-color);
  }
}

.c-card--menu[role='menu'] {
  display: block;
  width: $card-width;
  max-height: $card-max-height;
  margin: $card-margin;
  z-index: $card-z-index;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;

  .c-card__control[role='menuitem'] {
    @include card-control;

    &.c-card__control--brand {
      @include card-control($card-item-brand-background-color, $card-item-brand-color);
    }

    &.c-card__control--info {
      @include card-control($card-item-info-background-color, $card-item-info-color);
    }

    &.c-card__control--warning {
      @include card-control($card-item-warning-background-color, $card-item-warning-color);
    }

    &.c-card__control--success {
      @include card-control($card-item-success-background-color, $card-item-success-color);
    }

    &.c-card__control--error {
      @include card-control($card-item-error-background-color, $card-item-error-color);
    }
  }
}

.c-card--accordion {
  .c-card__control[aria-expanded] {
    @include card-control($card-item-accordion-control-background-color, $card-item-accordion-control-color);

    &:after {
      position: absolute;
      top: 0.5em;
      right: 0.5em;
      width: 1em;
      height: 1em;
      background-image: url('data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==');
      background-repeat: no-repeat;
      background-position: center;
      content: '';
    }

    &[aria-expanded='true']:after {
      transform: rotate(180deg);
    }
  }
}

.c-card__control[aria-expanded='false'] + .c-card__item--pane {
  @include visually-hidden;
}

.c-card__item--pane {
  margin: 0;
  padding: $card-item-padding;
}
