@import "mixins/components.progress";

.c-progress {
  display: block;
  border: $progress-border;
  border-radius: $progress-border-radius;
  background-color: $progress-background-color;
  color: $progress-bar-color;
  text-align: center;
  overflow: hidden;

  &.c-progress--rounded {
    border-radius: $progress-rounded-border-radius;
  }

  .c-progress__bar[role="progressbar"] {
    @include progress--color;

    display: block;
    height: 100%;
    float: left;
    border-radius: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    &:after {
      color: transparent !important;
      content: "-";
    }

    &.c-progress__bar--brand {
      @include progress--color($progress-bar-brand-background-color, $progress-bar-brand-color);
    }

    &.c-progress__bar--info {
      @include progress--color($progress-bar-info-background-color, $progress-bar-info-color);
    }

    &.c-progress__bar--warning {
      @include progress--color($progress-bar-warning-background-color, $progress-bar-warning-color);
    }

    &.c-progress__bar--success {
      @include progress--color($progress-bar-success-background-color, $progress-bar-success-color);
    }

    &.c-progress__bar--error {
      @include progress--color($progress-bar-error-background-color, $progress-bar-error-color);
    }
  }
}
