@import 'mixins/components.alerts';

.c-alerts[role='presentation'] {
  display: block;
  max-height: 100%;
  margin: 0;
  padding: 0;
  background-color: $alerts-background-color;
  list-style: none;
  z-index: $alerts-z-index;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.c-alerts--topleft,
.c-alerts--topright,
.c-alerts--bottomleft,
.c-alerts--bottomright {
  position: fixed;
  width: $alerts-width;
}

.c-alerts--topleft {
  top: $alerts-margin;
  left: $alerts-margin;
}

.c-alerts--topright {
  top: $alerts-margin;
  right: $alerts-margin;
}

.c-alerts--bottomleft {
  bottom: 0;
  left: $alerts-margin;
}

.c-alerts--bottomright {
  right: $alerts-margin;
  bottom: 0;
}

.c-alert[role='alert'] {
  @include alert-color;

  position: relative;
  margin: $alert-margin;
  padding: $alert-padding;
  border-radius: $alert-border-radius;

  &.c-alert--brand {
    @include alert-color($alert-brand-background-color, $alert-brand-color);
  }

  &.c-alert--info {
    @include alert-color($alert-info-background-color, $alert-info-color);
  }

  &.c-alert--warning {
    @include alert-color($alert-warning-background-color, $alert-warning-color);
  }

  &.c-alert--success {
    @include alert-color($alert-success-background-color, $alert-success-color);
  }

  &.c-alert--error {
    @include alert-color($alert-error-background-color, $alert-error-color);
  }
}
