@import 'mixins/settings';
@import 'mixins/objects.grid';
@import 'mixins/utilities.alignment';

.o-modal[role='dialog'] {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  width: $modal-width;
  transform: translate(-50%, -50%);
  border: $modal-border;
  border-radius: $modal-border-radius;
  background-color: $modal-background-color;
  opacity: 0;
  overflow: hidden;
  visibility: hidden;
  z-index: $modal-z-index;

  > .c-card {
    background-color: transparent;
    box-shadow: none;
  }

  &.o-modal--ghost {
    background-color: $modal-ghost-background-color;
    color: $modal-ghost-color;

    .c-heading {
      color: $modal-ghost-heading-color;
    }
  }

  &.o-modal--full {
    top: 1em;
    left: 1em;
    width: calc(100% - 2em);
    height: calc(100% - 2em);
    transform: none;

    .c-card__body {
      position: absolute;
      top: 3.5em;
      bottom: 4em;
      width: 100%;
      overflow-x: hidden;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
    }

    .c-card__footer {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }

  &.o-modal--visible {
    opacity: 1;
    visibility: visible;
  }
}

.c-button--close {
  top: $spacing-small;
}

.c-card {
  background-color: transparent;
  box-shadow: none;
}

.c-card__body {
  position: relative;
}
