@import 'mixins/utilities.typography';

.u-text {
  color: $text-color;
  font-family: $text-font-family;
  font-weight: $text-font-weight;
  line-height: $text-line-height;
  text-align: left;
  direction: ltr;
}

.u-text--rtl {
  text-align: right;
  direction: rtl;
}

.u-text--mono {
  font-family: $text-font-family-mono !important;
}

.u-text--highlight {
  @include text--highlight;
}

.u-text--quiet {
  color: map-get($colors, quiet) !important;
}

.u-text--loud {
  font-weight: $text-font-weight-heavy !important;
}

.u-text--help[title] {
  border-bottom: $help-border-bottom !important;
  text-decoration: none !important;
  cursor: help !important;
}

.u-pre {
  margin: 0;
}

.u-code {
  @include code;
}

.u-code--multiline {
  display: block;
  padding: $spacing-small $spacing-medium;
  border-radius: $border-radius;
  white-space: pre !important;
  word-wrap: normal !important;
  overflow-x: auto !important;
}

.u-kbd {
  @include code($keyboard-color, $keyboard-background-color);
  border-bottom: $keyboard-border;
  border-radius: $keyboard-border-radius;
}

.u-blockquote {
  @include quotation--color;
  display: block;
  margin: $quotation-margin;
  padding: $quotation-padding;
  font-family: $quotation-font-family !important;
}

.u-blockquote--brand {
  @include quotation--color($quotation-brand-border-color);
}

.u-blockquote--info {
  @include quotation--color($quotation-info-border-color);
}

.u-blockquote--warning {
  @include quotation--color($quotation-warning-border-color);
}

.u-blockquote--success {
  @include quotation--color($quotation-success-border-color);
}

.u-blockquote--error {
  @include quotation--color($quotation-error-border-color);
}

.u-blockquote__body {
  @include paragraph;
  font-size: $quotation-font-size;
}

.u-blockquote__footer {
  @include paragraph;
  color: $quotation-footer-color !important;
  font-style: $quotation-footer-font-style !important;
}

.u-paragraph {
  @include paragraph;
}
