@import "mixins/settings.global";

//
// Colors
//
@each $name, $value in $colors {
  .u-color-#{$name} {
    color: $value;
  }

  .u-bg-#{$name} {
    background-color: $value;
  }

  .u-fill-#{$name} {
    fill: $value;
  }

  .u-stroke-#{$name} {
    stroke: $value;
  }
}

.u-stroke-none {
  stroke: none;
}

.u-fill-none {
  fill: none;
}
