@import "mixins/settings.global";

.c-overlay {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparentize($overlay-background-color, .6);
  opacity: 0;
  visibility: hidden;
  z-index: $overlay-z-index;
}

.c-overlay--visible {
  opacity: 1;
  visibility: visible;
}

.c-overlay--transparent {
  background-color: $overlay-transparent-background-color;
}

.c-overlay--dismissible {
  cursor: pointer;
}
