@import "mixins/components.navs";

nav.c-nav,
.c-nav[role="navigation"] {
  @include nav--color;

  width: $nav-width;
  height: 100%;
  margin: $nav-margin;
  padding: $nav-padding;
  z-index: $nav-z-index;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  &.c-nav--left {
    position: fixed;
    top: 0;
    right: auto;
    bottom: 0;
    left: 0;
  }

  &.c-nav--right {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
  }

  .c-nav__item,
  .c-nav__content {
    display: block;
    height: $nav-height;
    padding: 0 $nav-item-padding;
    color: inherit;
    line-height: $nav-height;

    .o-image {
      height: 100%;
    }
  }

  .c-nav__item {
    @include nav__item--color;

    text-decoration: none;
  }

  .c-nav__item--active {
    @include nav__item--active;
  }

  .c-nav__item--brand {
    @include nav__item--color($nav-item-brand-hover-background-color, $nav-item-brand-hover-color);

    &.c-nav__item--active {
      @include nav__item--active($nav-item-brand-active-background-color, $nav-item-brand-active-color);
    }
  }

  .c-nav__item--info {
    @include nav__item--color($nav-item-info-hover-background-color, $nav-item-info-hover-color);

    &.c-nav__item--active {
      @include nav__item--active($nav-item-info-active-background-color, $nav-item-info-active-color);
    }
  }

  .c-nav__item--warning {
    @include nav__item--color($nav-item-warning-hover-background-color, $nav-item-warning-hover-color);

    &.c-nav__item--active {
      @include nav__item--active($nav-item-warning-active-background-color, $nav-item-warning-active-color);
    }
  }

  .c-nav__item--success {
    @include nav__item--color($nav-item-success-hover-background-color, $nav-item-success-hover-color);

    &.c-nav__item--active {
      @include nav__item--active($nav-item-success-active-background-color, $nav-item-success-active-color);
    }
  }

  .c-nav__item--error {
    @include nav__item--color($nav-item-error-hover-background-color, $nav-item-error-hover-color);

    &.c-nav__item--active {
      @include nav__item--active($nav-item-error-active-background-color, $nav-item-error-active-color);
    }
  }
}
