@import "mixins/settings";
@import "mixins/components.buttons";

nav.c-pagination,
.c-pagination[role="navigation"] {
  display: block;
  width: $pagination-width;
  padding: $pagination-padding;
  font-size: $pagination-font-size;
  text-align: center;
}

.c-pagination__controls {
  display: inline-block;
  text-align: center;
}

.c-pagination__controls--backward {
  float: left;
  text-align: left;
}

.c-pagination__controls--forward {
  float: right;
  text-align: right;
}

.c-pagination__control,
.c-pagination__page {
  @include button;
  @include button-ghost($pagination-control-color);
  min-width: 2.4em;
  border-radius: $pagination-control-border-radius;
}

.c-pagination__page[aria-current] {
  background-color: $pagination-page-current-background-color;
  color: $pagination-page-current-color;
}

.c-pagination__ellipsis {
  padding: $pagination-ellipsis-padding;
}
