@import 'settings';
@import 'components.buttons';

@mixin tab-heading($border-color: $tab-heading-border-color) {
  @include button-nude;
  display: block;
  flex: 1;
  margin: $tab-heading-margin;
  padding: $tab-heading-padding;
  white-space: nowrap;
  border-bottom: $spacing-xsmall solid $tab-heading-inactive-border-color;
  border-radius: $tab-heading-border-radius;

  &:not(:disabled):not(.c-tab-heading--active):hover {
    border-bottom-color: lighten($border-color, $color-tint);
  }

  &.c-tab-heading--active {
    background-color: $tab-heading-background-color;
    border-bottom-color: $border-color;
  }
}
