@import 'settings';
@import 'components.buttons';
@import 'utilities.states';

@mixin card-item($background-color: $card-item-background-color, $color: $card-item-color) {
  margin: 0;
  padding: $card-item-padding;
  color: $color;
  background-color: $background-color;

  &[aria-selected='true'] {
    background-color: darken($background-color, $color-tint);
  }

  &.c-card__item--active {
    background-color: darken($background-color, $color-tint);
  }

  @include disabled;
}

@mixin card-control($background-color: $card-item-control-background-color, $color: $card-item-control-color) {
  @include button;
  @include button-color($background-color, $color);
  position: relative;
  display: block;
  width: 100%;
  margin: 0;
  padding: $card-item-padding;
  text-align: inherit;
  text-decoration: inherit;
  border: 0;
  border-radius: 0;

  &[aria-expanded='true'] {
    font-weight: $card-item-active-font-weight;
    background-color: darken($background-color, $color-tint);
  }

  &.c-card__control--active {
    background-color: darken($background-color, $color-tint);
  }
}
