@import "vars";

@mixin modal-animation {
  @keyframes modal-animation {
    from {
      opacity: 0;
      transform: scale3d(.3, .3, .3);
    }

    50% {
      opacity: 1;
    }
  }
}

@mixin modal--animated {
  animation-name: modal-animation;
  animation-duration: $animation-duration;
  animation-fill-mode: both;
  animation-timing-function: $animation-easing;
  transform-origin: -25% -25%;
}