@import "vars";

@mixin overlay-animation {
  @keyframes overlay-animation {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}

@mixin overlay--animated {
  animation-name: overlay-animation;
  animation-duration: $animation-duration;
  animation-fill-mode: both;
  animation-timing-function: $animation-easing;
}