@import "vars";

@mixin tree-animation {
  @keyframes tree-animation {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}

@mixin tree--animated {
  animation-name: tree-animation;
  animation-duration: $animation-duration;
  animation-fill-mode: both;
  animation-timing-function: $animation-easing;
}

@mixin tree__item--animated {
  transition: transform $animation-duration-fast, color $animation-duration-fast;
}