name: CI Build

on:
  push:
    branches:
      - master

jobs:
  build:
    name: Test, Build and Deploy

    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@master

      - name: Install
        run: npm ci

      - name: Test
        run: npm test
